<div class="container-fluid">
  <div class="row">  
    <div class="col-xl-3 xl-40">
      <div class="card">
        <div class="card-header"><h5>New Roles</h5></div>
        <div class="card-body">
          <div class="row" style="gap: 10px">
            <div class="job-filter">
              <div class="faq-form">
                <label for="bg_id"
                  >Name <span class="font-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="addValue"
                  placeholder="Tution.."
                />
              </div>
            </div>
            <button
              class="btn btn-primary text-center"
              type="submit"
              (click)="onAddNew()"
            >
              {{id != null?"Update":"Add"}}
            </button>
            <button
              class="btn btn-warning text-center"
              type="button"
              (click)="Clear()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 xl-60">
      <div class="card">
        <div class="card-header"><h5>Roles</h5></div>
        <div class="collapse show">
          <div class="card-body">
            <div class="row mt-4 pl-3 pr-3">
              <div class="col-md-8 col-sm-12">
                <div class="faq-form">
                  <input
                    class="form-control"
                    [(ngModel)]="filterValue"
                    type="text"
                    (keyup)="onFilter($event.target.value)"
                    placeholder="Search.."
                  />
                  <app-feather-icons
                    class="search-icon"
                    [icon]="'search'"
                  ></app-feather-icons>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 d-flex justify-content-around">
                <button
                  class="btn btn-warning text-center"
                  type="button"
                  (click)="filterValue = ''; onClear()"
                >
                  Clear
                </button>
              </div>
            </div>
            <div class="row">
              <div class="card-body custom-datatable">
                <div class="loader-box center" *ngIf="dataFetch">
                  <span class="rotate dashed"></span>
                </div>
                <p-table [value]="List" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header" >
                    <tr>
                        <th pSortableColumn="code">SlNo <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th >Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex+1}}</td>
                        <td>{{product.name}}</td>
                        <td> 
                          <div>
                              <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-success" style="height: 35px; width: 35px;" (click)="update(product)"></button>
                              <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-2" style="height: 35px; width: 35px;" (click)="onDelete(product.id)"></button>
                      </div>
                      </td>
                    </tr>
                </ng-template>
            
              </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Role Card Start -->
  </div>
</div>
