<div class="row mt-2 mb-3">
  <div class="col-md-7 col-sm-12"> 
    <div class="faq-form">
      <input
        class="form-control"
        [(ngModel)]="filterValue"
        type="text"
        (keyup)="onFilter($event.target.value)"
        placeholder="Search.."
      />
      <app-feather-icons
        class="search-icon"
        [icon]="'search'"
      ></app-feather-icons>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 d-flex justify-content-around">
    <button
      class="btn btn-warning text-center"
      type="button"
      (click)="filterValue = ''; onClear()"
    >
      Clear
    </button>
    <button
        class="btn btn-primary text-center"
        type="button"
        (click)="onAdd()"
      >
        Add
      </button>
  </div>
</div>
<div class="loader-box center" *ngIf="dataFetch">
  <span class="rotate dashed"></span>
</div>
    <p-table [value]="List" class="table"  *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header" >
        <tr>
            <th pSortableColumn="code">SlNo <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th >Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{product.name}}</td>
            <td> 
              <div>
                <button class="btn btn-primary btn-pill mr-3" style="width: 30px;" (click)="update(product)"><i class="icofont icofont-pencil-alt-5" style="margin-left: -6px;"></i></button>
                <button class="btn btn-danger btn-pill" style="width: 30px;" (click)="onDelete(product.id)"><i class="icofont icofont-delete-alt" style="margin-left: -6px;"></i></button>
          </div>
          </td>
        </tr>
    </ng-template>

  </p-table>
      