<div class="container-fluid">
  <!-- Unlock page start-->
  <div class="authentication-main">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="auth-innerright" style="min-height: 53vh;">
          <div class="authentication-box">
            <div class="text-center"><img src="assets/images/logo.png" height="70px" alt=""></div>
            <div class="card mt-4 p-4 mb-0">
              <form class="theme-form" [formGroup]="loginForm">
                <div class="form-group">
                  <label class="col-form-label">Enter your Password</label>
                  <input class="form-control" type="password" formControlName="password" placeholder="*******">
                  <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
                      class="text text-danger mt-1">
                      Password is required
                    </div>
                </div>
                <div class="form-group form-row mb-2 justify-content-center">
                    <button class="btn btn-primary mr-5" type="submit" [disabled]="unlockLoading" (click)="unlock()">Unlock&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="unlockLoading"></i></button>
                    <button class="btn btn-primary ml-5" type="submit" [disabled]="unlockLoading" (click)="logOut()">Logout</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Unlock page end-->
</div>