<div class="loader-box center" *ngIf="!dataFetch">
  <span class="rotate dashed"></span>
</div>
<div class="container-fluid" *ngIf="dataFetch">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
      <div class="card custom-card">
        <div class="card-header"><img class="img-fluid" src="assets/images/faq/2.jpg" alt="" /></div>
        <div class="card-profile">
          <img class="rounded-circle" src="{{ personal_data.student_photo }}" alt="" />
          <button pButton pRipple type="button" icon="pi pi-camera" [loading]="ProfilePhotoloader" class="p-button-rounded btn-primary" style="height: 30px; width: 30px; margin-left: -3rem; z-index: 10" ngbTooltip="Update Profile Pic" (click)="cameraDialog = true"></button>
        </div>

        <div class="text-center profile-details">
          <h4>{{ personal_data.student_name ?? "" }}</h4>
          <h6>{{ admission_data.admission_no ?? "" }}</h6>
        </div>
        <hr />
        <h6><i class="pi pi-star"></i>&emsp;{{ personal_data.dob ?? "" }}</h6>
        <h6><i class="pi pi-map-marker"></i>&emsp;{{ personal_data.current_city ?? "" }},&nbsp;{{ personal_data.current_state ?? "" }}</h6>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-primary text-center mt-3" (click)="openAdmissionForm()">Admission Form &nbsp;&nbsp;<i class="pi pi-window-maximize"></i></button>
          </div>
          <p-dialog [(visible)]="cameraDialog" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '50vw' }" header="Camera" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
              <app-camera (getPicture)="handleImage($event)"></app-camera>
            </ng-template>
          </p-dialog>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
      <div class="card">
        <div class="card-header">
          <!-- <h5 class="pull-left">{{student.name | uppercase}}</h5> -->
        </div>
        <div class="card-body">
          <p-tabView [scrollable]="true">
            <p-tabPanel header="Profile" leftIcon="pi pi-id-card">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <h5 class="pull-left">PERSONAL INFO</h5>
                  <div>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-primary ml-3" style="height: 35px; width: 35px" ngbTooltip="Update Record" (click)="updateStudentData()"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-3" style="height: 35px; width: 35px" ngbTooltip="Delete Record" (click)="deleteStudentData()"></button>
                  </div>
                </div>
                <div class="card-body">
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Admission Date</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ admission_data.admission_date }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Date Of Birth</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.dob }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Religion</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.religion }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Phone No</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.student_mobile }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Email</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.student_email }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Present Address</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.stud_current_address }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Permanent Address</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.stud_permanent_address }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <h5 class="pull-left">PARENT / GUARDIAN DETAILS</h5>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Father's Name</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.fathers_name }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Phone No</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.fathers_mobile }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Occupation</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.father_occupation }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Mothers's Name</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.mothers_name }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Phone No</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.mothers_mobile }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Occupation</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.mothers_occupation }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Guardian's Name</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.guardians_name }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Email</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.guardians_email }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Phone No</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.guardians_mobile }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Relation with Guardian</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.guardian_relation }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Occupation</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ parent_data.guardians_occupation }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <h5 class="pull-left">OTHER INFORMATION</h5>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Blood Group</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.bood_group }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Height</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.height }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />

                  <div class="row">
                    <div class="col-6">
                      <span>Weight</span>
                    </div>
                    <div class="col-6">
                      <span
                        ><b>{{ personal_data.weight }}</b></span
                      >
                    </div>
                  </div>
                  <hr style="font-weight: bold" />
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Bank Details" [cache]="false" leftIcon="pi pi-money-bill">
              <ng-template pTemplate="content">
                <app-bank-details [Type]="'STUDENT'" [person_id]="this.student?.student_id"></app-bank-details>
              </ng-template>
            </p-tabPanel>
            <!-- <p-tabPanel
              header="Documents"
              [cache]="false"
              leftIcon="pi pi-book"
            >
              <ng-template pTemplate="content">
                <app-profile-documents [Type]="'STUDENT'" [person_id]="this.student?.student_id"></app-profile-documents>
              </ng-template>
            </p-tabPanel> -->
            <p-tabPanel header="Fees" [cache]="false" leftIcon="pi pi-wallet">
              <ng-template pTemplate="content">
                <app-fees></app-fees>
              </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Transactions" [cache]="false" leftIcon="pi pi-clock">
              <ng-template pTemplate="content">
                <app-transactions></app-transactions>
              </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Documents" [cache]="false" leftIcon="pi pi-book">
              <app-documents></app-documents>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
