<div class="container">
    <div class="card">
        <div class="card-header">
          <h5>TC Details</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" [formGroup]="tcForm" autocomplete="off" novalidate>
            <!-- Student Details Start -->
            <!-- <h5>Student Details</h5> -->
            <div class="form-row">
              <!-- Student Name Start -->
              <div class="col-md-4 mb-3">
                <label for="name">Student Name <span class="font-danger">*</span></label>
                <input type="text" readonly class="form-control" id="name" placeholder="Abcd" formControlName="name">
                <div *ngIf="tcForm.controls.name.touched && tcForm.controls.name.errors?.required"
                  class="text text-danger">
                  Student Name is required.
                </div>
              </div>
              <!-- Student Name End -->
              <!-- Application Date Start -->
              <div class="col-md-4 mb-3">
                <label for="application_date">Application Date <span class="font-danger">*</span></label>
                <input type="date" class="form-control" id="application_date" placeholder="application_date"
                  formControlName="application_date">

                <div
                  *ngIf="tcForm.controls.application_date.touched && tcForm.controls.application_date.errors?.required"
                  class="text text-danger">
                  Application Date is required.
                </div>
              </div>
              <!-- Application Date End -->
              <!-- Issued Date Start -->
              <div class="col-md-4 mb-3">
                <label for="issued_date">Issued Date <span class="font-danger">*</span></label>
                <input type="date" class="form-control" id="issued_date" placeholder="issued_date"
                  formControlName="issued_date">
                <div
                  *ngIf="tcForm.controls.issued_date.touched && tcForm.controls.issued_date.errors?.required"
                  class="text text-danger">
                  Issued Date is required.
                </div>
              </div>
              <!-- Issued Date End -->
              <!-- Character Start -->
              <div class="col-9 mb-3">
                <label for="character_of_conduct">Student Character <span class="font-danger">*</span></label>
                <input type="text" class="form-control" id="character_of_conduct" placeholder="Good" formControlName="character_of_conduct">
                <div *ngIf="tcForm.controls.character_of_conduct.touched && tcForm.controls.character_of_conduct.errors?.required"
                  class="text text-danger">
                  Student Character is required.
                </div>
              </div>
              <div class="col-3 mb-3">
                <label>Status <span class="font-danger">*</span></label>
                <div class="form-group m-t-10 m-checkbox-inline mb-0 custom-radio-ml">
                  <div class="radio radio-primary">
                    <input type="radio" name="user_comments" value="Pass" id="pass" formControlName="user_comments">
                    <label for="pass" class="mb-0">Pass</label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" name="user_comments" value="Studying" id="Studying" formControlName="user_comments">
                    <label for="Studying" class="mb-0">Studying</label>
                </div>
                </div>
                <div *ngIf="tcForm.controls.user_comments.touched && tcForm.controls.user_comments.errors?.required"
                  class="text text-danger">
                 Status is required.
                </div>
            </div>
              <!-- Character End -->
              <!-- No Of Days Start -->
              <div class="col-md-4 mb-3">
                <label for="no_of_days">No Of Days In Academic Year <span class="font-danger">*</span></label>
                <input type="text" class="form-control" id="no_of_days" mask="000" [validation]="false" placeholder="100" formControlName="no_of_days">
                <div *ngIf="tcForm.controls.no_of_days.touched && tcForm.controls.no_of_days.errors?.required"
                  class="text text-danger">
                  No Of Days is required.
                </div>
              </div>
              <!-- No Of Days End -->
              <!-- No Of Days Attended Start -->
              <div class="col-md-4 mb-3">
                <label for="no_of_attended_days">No Of Days Attended  In Academic Year <span class="font-danger">*</span></label>
                <input type="text" class="form-control" id="no_of_attended_days" mask="000" [validation]="false" placeholder="100" formControlName="no_of_attended_days">
                <div *ngIf="tcForm.controls.no_of_attended_days.touched && tcForm.controls.no_of_attended_days.errors?.required"
                  class="text text-danger">
                  No Of Days Attended is required.
                </div>
              </div>
              <!-- No Of Days Attended  End -->
              <!-- TC Reason Start -->
              <div class="col-md-4 mb-3">
                <label for="tc_reason">TC Reason <span class="font-danger">*</span></label>
                <input type="text" class="form-control" id="tc_reason" placeholder="Transfer" formControlName="tc_reason">
                <div *ngIf="tcForm.controls.tc_reason.touched && tcForm.controls.tc_reason.errors?.required"
                  class="text text-danger">
                  TC Reason is required.
                </div>
              </div>
              <!-- TC Reason  End -->
            </div>
            <div class="form-group f1-buttons">

              <button *ngIf="!updateTC" class="btn btn-primary btn-next" awPreviousStep> Previous</button>
              <button type="submit" class="btn btn-primary btn-next ml-3" [disabled]="!tcForm.valid || submitLoader" (click)="AssignTC()"> {{submitLoader?"":"Assign TC"}}
                &nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="submitLoader"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
</div>