<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h3>Employees</h3>
    <div class="btn-group" role="group" aria-label="Basic example">
      <div class="square-product-setting d-inline-block">
        <a
          class="icon-grid grid-layout-view"
          (click)="layout = 'grid'"
          data-original-title=""
          title=""
        >
          <app-feather-icons [icon]="'grid'"></app-feather-icons
        ></a>
      </div>
      <div class="square-product-setting d-inline-block">
        <a
          class="icon-grid m-0 list-layout-view"
          (click)="layout = 'list'"
          data-original-title=""
          title=""
        >
          <app-feather-icons [icon]="'list'"></app-feather-icons
        ></a>
      </div>
    </div>
  </div>
  <div
    class="default-according style-1 faq-accordion job-accordion"
    id="accordionoc"
  >
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button
                class="btn btn-link pl-0"
                (click)="isFilter = !isFilter"
                [attr.aria-expanded]="!isFilter"
                aria-controls="collapse"
              >
                Filter
              </button>
            </h5>
          </div>
          <div class="collapse show" *ngIf="isFilter">
            <div class="card-body filter-cards-view animate-chk">
              <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                  <div class="faq-form">
                    <label for="emp_id">ID</label>
                    <input
                      class="form-control"
                      type="text"
                      id="emp_id"
                      [formControl]="filterForm.controls['EmpId']"
                      (keyup)="onFilterData($event.target.value)"
                      placeholder="Search.."
                    />
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                  <div class="faq-form">
                    <label for="emp_name">Name</label>
                    <input
                      class="form-control"
                      type="text"
                      id="emp_name"
                      [formControl]="filterForm.controls['employeeName']"
                      (keyup)="onFilterData($event.target.value)"
                      placeholder="Search.."
                    />
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                  <div class="faq-form">
                    <label for="emp_jod">Join Date</label>
                    <input
                      class="form-control"
                      type="text"
                      id="emp_jod"
                      [formControl]="filterForm.controls['JoinDate']"
                      (keyup)="onFilterData($event.target.value)"
                      placeholder="Search.."
                    />
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                  <div class="faq-form">
                    <label for="emp_no">Mobile</label>
                    <input
                      class="form-control"
                      type="text"
                      id="emp_no"
                      [formControl]="filterForm.controls['mobile']"
                      (keyup)="onFilterData($event.target.value)"
                      placeholder="Search.."
                    />
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center">
                <div class="col-md-6 col-sm-12">
                  <p>Export :</p>
                  <div class="flex col-2">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportCsv()" class="btn-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 float-right">
                  <button
                    class="btn btn-primary text-center align-self-center"
                    (click)="filterForm.reset(); onFilterData('')"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="layout == 'grid'">
    <div class="col-12 ">
      <div class="loader-box center" *ngIf="dataFetch">
        <span class="rotate dashed"></span>
      </div>
      <div class="row" *ngIf="!dataFetch">
        <div
          class="col-md-6 col-lg-4 col-xl-3"
          *ngFor="
            let employee of EmployeeList
              | slice: (page - 1) * pageSize:page * pageSize
          "
        >
          <div
            class="card custom-card"
            style="cursor: pointer"
            (click)="employeeDetails(employee)"
          >
            <div class="card-profile">
              <div class="card-header">
                <img class="img-fluid" src="assets/images/faq/2.jpg" alt="" />
              </div>
              <img
                class="rounded-circle"
                style="margin-top: -4rem"
                src="{{ employee.photo }}"
                alt=""
              />
            </div>
            <div class="text-center profile-details">
              <h5
                style="
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                "
              >
                {{ employee.employee_name | uppercase }}
              </h5>
              <h6>
                ID: <b>{{ employee.employee_no }}</b>
              </h6>
              <hr style="margin-top: -1rem" />
              <div class="row">
                <div class="col-6">
                  <span>DOJ</span><br />
                </div>
                <div class="col-6" style="margin-left: -20px;">
                  <span
                    style="
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    "
                    ><b>{{ employee.joining_date }}</b></span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span>Mobile</span><br />
                </div>
                <div class="col-6" style="margin-left: -20px;">
                  <span
                    style="
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    "
                    ><b>{{ employee.mobile }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ngb-pagination
        class="d-flex justify-content-center mb-3"
        #paginator
        [pageSize]="pageSize"
        [rotate]="true"
        [maxSize]="5"
        [boundaryLinks]="true"
        [ellipses]="false"
        [collectionSize]="EmployeeList.length"
        [(page)]="page"
      ></ngb-pagination>
    </div>
  </div>
  <div class="col" *ngIf="layout == 'list'">
    <div class="col-12 ">
      <div class="card">
        <div class="card-body">
          <div class="custom-datatable">
            <p-table [value]="EmployeeList" selectionMode="single" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" >
                <tr>
                    <th>SlNo</th>
                    <th pSortableColumn="first_name">Name <p-sortIcon field="first_name"></p-sortIcon></th>
                    <th pSortableColumn="employee_no">Employee No<p-sortIcon field="employee_no"></p-sortIcon></th>
                    <th pSortableColumn="joining_date">Joining Date<p-sortIcon field="joining_date"></p-sortIcon></th>
                    <th pSortableColumn="mobile">Mobile No <p-sortIcon field="mobile"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr (click)="employeeDetails(product)" style="cursor: pointer;">
                <td>{{rowIndex+1}}</td>
                <td><img class="middle " src="{{product.photo}}" height="50px" style="border-radius: 50%;" width="50px" [alt]="product.employee_name"> {{product.employee_name}}</td>
                <td>{{product.employee_no}}</td>
                <td>{{product.joining_date}}</td>
                <td>{{product.mobile}}</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
