<div class="card">
    <div class="card-header">
      <h5>Fees and other transactions</h5>
    </div>
    <div class="card-body">
        <div class="row mb-4 pl-3 pr-3">
          <div class="col-md-8 col-sm-12">
            <div class="faq-form">
              <input
                class="form-control"
                [(ngModel)]="filterValue"
                type="text"
                (keyup)="onFilter($event.target.value)"
                placeholder="Search.."
              />
              <app-feather-icons
                class="search-icon"
                [icon]="'search'"
              ></app-feather-icons>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 d-flex justify-content-around">
            <button
              class="btn btn-warning text-center"
              type="button"
              (click)="filterValue = ''; onClear()"
            >
              Clear
            </button>
          </div>
          <div class="col-md-2 col-sm-12 d-flex justify-content-around">
            <button
              class="btn btn-primary text-center"
              type="button"
              (click)="printBalamce()"
            >
              Balance
            </button>
          </div>
        </div>
        <div class="loader-box center" *ngIf="dataFetch">
          <span class="rotate dashed"></span>
        </div>
        <p-table styleClass="p-datatable-sm" [value]="TransactionsList" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header" >
            <tr>
              <th>Receipt No</th>
              <th>Txn Date</th>
              <th>Txn Type</th>
              <th>Previous Bal</th>
              <th>Txn Amout</th>
              <th>Current Bal</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
              <td>{{product.receipt_no}}</td>
              <td>{{product.transaction_date}}</td>
              <!-- <td>{{product.transaction_type}}</td> -->
              <td><font [color]="product.transaction_type == 'DEBIT'?'red':'green'"
                ><b>{{product.transaction_type}}</b></font></td>
              <td>{{product.previous_balance | currency: 'INR'}}</td>
              <td>{{product.transaction_amount | currency: 'INR'}}</td>
              <td>{{product.current_balance | currency: 'INR'}}</td>
              <td>
                <button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px;" ngbTooltip="Print Record" (click)="printTransaction(product)"></button>
                  <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-1" style="height: 35px; width: 35px;" ngbTooltip="Delete Record" (click)="deleteTransactionDialog(product)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-dialog [(visible)]="showDialog" [style]="{ width: '550px' }" header="Delete Transaction" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="card">
            <div class="col">
              <div class="row">
                <div class="col-6">
                  <label
                    >Receipt No:&nbsp;<b>{{ selectedData.receipt_no }}</b></label
                  >
                </div>
                <div class="col-6">
                  <label
                    >Txn Date:&nbsp; <b>{{ selectedData.transaction_date }}</b>
                  </label>
                </div>
                <div class="col-6">
                  <label
                    >Txn Type:&nbsp;
                    <font [color]="selectedData.transaction_type == 'DEBIT' ? 'red' : 'green'"
                      ><b>{{ selectedData.transaction_type }}</b></font
                    ></label
                  >
                </div>
                <div class="col-6">
                  <label
                    >Previous Bal:&nbsp; <b>{{ selectedData.previous_balance | currency:'INR' }}</b>
                  </label>
                </div>
                <div class="col-6">
                  <label
                    >Txn Amout:&nbsp; <b>{{ selectedData.transaction_amount | currency:'INR' }}</b>
                  </label>
                </div>
                <div class="col-6">
                  <label
                    >Current Bal:&nbsp; <b>{{ selectedData.current_balance | currency:'INR' }}</b>
                  </label>
                </div>
                <div class="col-12">
                  <label
                    >Description:&nbsp; <b>{{ selectedData.transaction_desc }}</b>
                  </label>
                </div>
              </div>
              <div class="row">
                <br />
                <label><b>Delete Reason</b> </label>
              </div>
              <div class="row">
                <div class="col">
                  <label for="special_needs">Comments</label>
                  <textarea 
                      class="form-control" id="special_needs"
                      [(ngModel)]="userComments"></textarea>
              </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-around">
                  <button
                    class="btn btn-primary text-center"
                    type="button"
                    [disabled]="loader"
                    (click)="deleteTransaction()"
                  >
                    Delete&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dialog>
</div>