<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'users'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Total Students</span>
              <h4
                class="mb-0 counter"
                [CountTo]="6659"
                [from]="0"
                [duration]="1"
              ></h4>
              <i class="icon-bg" data-feather="users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-secondary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'briefcase'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Total Employees</span>
              <h4
                class="mb-0 counter"
                [CountTo]="9856"
                [from]="0"
                [duration]="1"
              >
                9856
              </h4>
              <i class="icon-bg" data-feather="briefcase"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'refresh-ccw'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0">Revenue</span>
              <h4
                class="mb-0 counter"
                [CountTo]="893"
                [from]="0"
                [duration]="1"
              >
                893
              </h4>
              <i class="icon-bg" data-feather="refresh-ccw"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0">Total Profit</span>
              <h4
                class="mb-0 counter"
                [CountTo]="-45631"
                [from]="0"
                [duration]="1"
              >
                45631
              </h4>
              <i class="icon-bg" data-feather="shopping-bag"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5>Admission Ratio</h5>
          </div>
          <div class="card-body chart-block admission-chart">
            <canvas baseChart class="chart flot-chart-placeholder" id="myLineCharts" [legend]="admissionChartLegend"
              [data]="admissionChartData" [labels]="admissionChartLabels" [options]="admissionChartOptions"
              [chartType]="admissionChartType" [colors]="admissionChartColors"></canvas>
          </div>
        </div>
      </div>
  </div>
</div>
