<div class="container-fluid p-0">
  <!-- login page start-->
  <div class="authentication-main">
    <div class="row">
      <div class="col">
        <div class="auth-innerright">
          <div class="authentication-box">
            <div class="text-center"><img src="assets/images/Royal_palace_logo.png" alt=""></div>
            <div class="card mt-4">
              <div class="card-body">
                <div class="text-center">
                  <h4>LOGIN</h4>
                  <h6>Enter your Username and Password </h6>
                  <h6 class="text-primary hover:underline" style="cursor: pointer;" *ngIf="displayLogins" (click)="loginWithData('admin@royalpalacelkp.com','admin@royalpalacelkp.com')">Login as Admin </h6>
                </div>
                <form class="theme-form" [formGroup]="loginForm">
                  <div class="form-group">
                    <label class="col-form-label pt-0">Email</label>
                    <input class="form-control" formControlName="email" type="email" required="">
                    <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required"
                      class="text text-danger mt-1">
                      Email is required
                    </div>
                    <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email"
                      class="text text-danger mt-1">
                      Invalid Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password" required="">
                    <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
                      class="text text-danger mt-1">
                      Password is required
                    </div>
                  </div>
                  <div class="row ml-2">
                    <div class="col-6">
                      <div class="checkbox p-0">
                        <input id="checkbox1" type="checkbox" formControlName="rememberMe">
                        <label for="checkbox1" >Remember me</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="" style="text-align: right; margin-top: .7rem; ">
                        <a>Forgot Password?</a>
                      </div>
                    </div>
                    
                    
                  </div>
                  
                  <div class="form-group form-row mt-3 mb-0">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="showLoading" (click)="login()">Login&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"></i></button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- login page end-->
</div>