<div class=" debit-card">
    <div class="card height-equal">
      <div class="card-header">
        <h5>Role</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" class="row">
          
          <div class="form-group col-12">
            <label for="role_name">Role Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="role_name"
              id="role_name"
              placeholder="Admin"
            />
          </div>
          
          
          <div class="col-12">
            <button class="btn btn-primary-gradien btn-block" type="button" (click)="OnSubmit()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>