<div class="row">
  <div class="col-sm-12 col-md-6">
    <app-gender></app-gender>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-doc></app-doc>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-blood-group></app-blood-group>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-religion></app-religion>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-caste></app-caste>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-category></app-category>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-class></app-class>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-academic-year></app-academic-year>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-division></app-division>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-department></app-department>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-common></app-common>
  </div>
</div>
