<div class="container-fluid">
  <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link pl-0" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter" aria-controls="collapse">Filter</button>
            </h5>
          </div>
          <div class="collapse show" *ngIf="isFilter">
            <div class="card-body filter-cards-view animate-chk">
              <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                  <div class="faq-form">
                    <label for="bg_id">A/c Head <span class="font-danger">*</span></label>
                    <select class="form-control" id="bg_id" [formControl]="form.controls['account_id']" placeholder="2021-2022">
                      <option value="">Select a A/c Head</option>
                      <option *ngFor="let data of AccountHeadList" value="{{ data.account_id }}">
                        {{ data.account_name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                  <label for="From_date">From Date</label>
                  <div class="input-group custom-datepicker job-input-datepicker">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="from_date" (dateSelect)="dateChange($event, 'start_date')" ngbDatepicker #From_date="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="From_date.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                  <label for="To_date">To Date</label>
                  <div class="input-group custom-datepicker job-input-datepicker">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="to_date" (dateSelect)="dateChange($event, 'end_date')" ngbDatepicker #To_date="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="To_date.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 float-right">
                  <div class="faq-form">
                    <label for="bg_id">&nbsp;</label>
                    <button class="btn btn-primary text-center align-self-center align-bottom" (click)="fetchData()">Search</button>
                    <label for="bg_id">&nbsp;</label>
                    <button class="btn btn-warning text-center align-self-center align-bottom" (click)="clearData()">Clear</button>
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="loader-box center" *ngIf="dataFetch">
            <span class="rotate dashed"></span>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12 mb-3" *ngIf="!dataFetch">
            <div class="faq-form">
              <label for="bg_id">Transaction Type</label>
              <select class="form-control" id="bg_id" [(ngModel)]="filterValue" (change)="onFilter()" placeholder="2021-2022">
                <option value="">Select a Transaction</option>
                <option value="DEBIT">Debit</option>
                <option value="CREDIT">Credit</option>
              </select>
            </div>
          </div>
          <p-table #dt [value]="TransactionsList" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="caption">
              <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="btn-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Receipt No</th>
                <th>Txn Date</th>
                <th>Txn Type</th>
                <th>Paid By</th>
                <th>Paid To</th>
                <th>Txn Amout</th>
                <th>View</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr>
                <td>{{ product.receipt_no }}</td>
                <td>{{ product.transaction_date }}</td>
                <!-- <td>{{product.transaction_type}}</td> -->
                <td>
                  <font [color]="product.transaction_type == 'DEBIT' ? 'red' : 'green'"
                    ><b>{{ product.transaction_type }}</b></font
                  >
                </td>
                <td>{{ product.paid_by }}</td>
                <td>{{ product.paid_to }}</td>
                <td>{{ product.transaction_amount | currency: "INR" }}</td>
                <td>
                  <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded btn-success ml-1" style="height: 35px; width: 35px" ngbTooltip="View" (click)="openDialog(product)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '550px' }" header="Transaction Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="card">
      <div class="col">
        <div class="row">
          <div class="col-6">
            <label
              >Receipt No:&nbsp;<b>{{ selectedData.receipt_no }}</b></label
            >
          </div>
          <div class="col-6">
            <label
              >Txn Date:&nbsp; <b>{{ selectedData.transaction_date }}</b>
            </label>
          </div>
          <div class="col-6">
            <label
              >Paid By:&nbsp;<b>{{ selectedData.paid_by }}</b></label
            >
          </div>
          <div class="col-6">
            <label
              >Paid To:&nbsp; <b>{{ selectedData.paid_to }}</b>
            </label>
          </div>
          <div class="col-6">
            <label
              >Txn Type:&nbsp;
              <font [color]="selectedData.transaction_type == 'DEBIT' ? 'red' : 'green'"
                ><b>{{ selectedData.transaction_type }}</b></font
              ></label
            >
          </div>
          <div class="col-6">
            <label
              >Paid By:&nbsp; <b>{{ selectedData.previous_balance | currency: "INR" }}</b>
            </label>
          </div>
          <div class="col-6">
            <label
              >Txn Amout:&nbsp; <b>{{ selectedData.transaction_amount | currency: "INR" }}</b>
            </label>
          </div>
          <div class="col-6">
            <label
              >Paid To:&nbsp; <b>{{ selectedData.current_balance | currency: "INR" }}</b>
            </label>
          </div>
          <div class="col-12">
            <label
              >Description:&nbsp; <b>{{ selectedData.transaction_desc }}</b>
            </label>
          </div>
        </div>
        <div class="row">
          <br />
          <label><b>Payment Details</b> </label>
        </div>
        <div class="row">
          <div class="col-6">
            <label
              >Payment Mode:&nbsp; <b>{{ selectedData.payment_mode ?? "--" }}</b>
            </label>
          </div>
          <div class="col-6">
            <label
              >Payment Ref No:&nbsp; <b>{{ selectedData.payment_ref ?? "--" }}</b>
            </label>
          </div>
          <div class="col-12">
            <label
              >User Comments:&nbsp; <b>{{ selectedData.user_comments ?? "--" }}</b>
            </label>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
