<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Assigned Marks</h5>
        </div>
        <div class="card-body step-indicator">
          <aw-wizard navBarLayout="large-filled-symbols" [awNavigationMode] [navigateForward]="navigation">
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome ' }" stepTitle="Reports" [stepId]="0">
              <!-- <button pButton pRipple type="button" icon="pi pi-arrow-circle-right" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Update Report"  (click)="exportTempPdf()" awNextStep></button> -->
              <p-table
                #dt
                [value]="reportList"
                *ngIf="!dataFetch"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                rowGroupMode="subheader"
                groupRowsBy="result_report_group_id"
              >
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-between">List of Result Reports</div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Slno</th>
                    <th pSortableColumn="academic_name" style="width:20%">Academic Year <p-sortIcon field="academic_name"></p-sortIcon></th>
                    <th pSortableColumn="department_name" style="width:20%">Department <p-sortIcon field="department_name"></p-sortIcon></th>
                    <th pSortableColumn="class_name" style="width:10%">Class <p-sortIcon field="class_name"></p-sortIcon></th>
                    <th pSortableColumn="division_name" style="width:15%">Division <p-sortIcon field="division_name"></p-sortIcon></th>
                    <th>Result Date</th>
                    <th>View</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-product>
                  <tr pRowGroupHeader>
                    <td colspan="7">
                      <span class="p-text-bold font-bold p-ml-2">{{ product.report_result_group_name }}</span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ product.academic_name }}</td>
                    <td>{{ product.department_name }}</td>
                    <td>{{ product.class_name }}</td>
                    <td>{{ product.division_name }}</td>
                    <td>{{ product.result_date }}</td>
                    <td>
                      <button pButton pRipple type="button" icon="pi pi-arrow-circle-right" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Configure Report" (click)="configReport(product)" awNextStep></button>
                    </td>
                  </tr>
                </ng-template> </p-table
            >
            
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf03b;', fontFamily: 'FontAwesome ' }" stepTitle="Subjects" [stepId]="1">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-0">
                    <div class="card-body filter-cards-view animate-chk">
                      <div class="row">
                        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                          <div class="">
                            <label for="academic_id">Academic Year</label>
                            <input type="text"  class="form-control" id="academic_id" [formControl]="commonForm.controls['academic_name']">
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                          <div class="faq-form">
                            <label for="department_id">Department</label>
                            <input type="text"  class="form-control" id="department_id" [formControl]="commonForm.controls['department_name']">
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                          <div class="faq-form">
                            <label for="class_id">Class</label>
                            <input type="text"  class="form-control" id="class_id" [formControl]="commonForm.controls['class_name']">
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                          <div class="faq-form">
                            <label for="division_id">Division</label>
                            <input type="text"  class="form-control" id="division_id" [formControl]="commonForm.controls['division_name']">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="loader-box center" *ngIf="dataFetch; else table">
                        <span class="rotate dashed"></span>
                      </div>
                      <ng-template #table>
                        <p-table #dt [value]="subjectList" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {totalRecords} entries">
                          <ng-template pTemplate="caption">
                            <div class="flex justify-content-between">List of Allocated Subjects</div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Slno</th>
                              <th>Name</th>
                              <th>Max marks</th>
                              <th>Actions</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                              <td>{{ rowIndex + 1 }}</td>
                              <td>{{ product.subject_name }}</td>
                              <td>
                                {{ product.max_marks }}
                              </td>
                              <td>
                                
                                <button pButton pRipple type="button" icon="pi pi-arrow-circle-right" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Update Report" *ngIf="product.max_marks; else configReport" (click)="fetchStudents(product)" awNextStep></button>
                                <ng-template #configReport><button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Configure Report" (click)="configMarksReport(product)"></button></ng-template>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col flex justify-content-evenly">
                  <button class="btn btn-primary" style="max-height: 36px" type="button" awPreviousStep>Previous</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0c0;', fontFamily: 'FontAwesome ' }" stepTitle="Students" [stepId]="2">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="loader-box center" *ngIf="studentListLoading; else studentListTable">
                        <span class="rotate dashed"></span>
                      </div>
                      <ng-template #studentListTable>
                        <p-table #studentListdt [value]="studentList" [showCurrentPageReport]="true" responsiveLayout="scroll" dataKey="admission_no" [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
                          <ng-template pTemplate="caption">
                            <div class="flex justify-content-between">
                              List of Students
                                                <button class="btn btn-primary" style="max-height: 36px" type="button" (click)="editAssignedMarks()">Edit</button>
                            </div>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="btn-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Slno</th>
                              <th>Name</th>
                              <th>Admission No</th>
                              <th>Marks</th>
                              <th>Grade</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                              <td>{{ rowIndex + 1 }}</td>
                              <td>{{ product.f_name + " " + product.m_name+ " " + product.l_name }}</td>
                              <td>{{ product.admission_no }}</td>
                              <td>{{ product.max_marks??"-" }}</td>
                              <td>{{ product.grade??"-" }}</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col flex justify-content-evenly">
                  <button class="btn btn-primary" style="max-height: 36px" type="button" awPreviousStep>Previous</button>
                  <button class="btn btn-primary" style="max-height: 36px" type="button" [disabled]="studentList" 
                  (click)="submitMarks()">Submit</button>
                </div>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
