<div class="container-fluid">
    <div class="loader-box center" *ngIf="dataFetch"><span class="rotate dashed"></span></div>
    <div class="row" *ngIf="!dataFetch">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Employee Details</h5>
                </div>
                <div class="card-body step-indicator">
                    <aw-wizard navBarLayout="large-filled-symbols" [awNavigationMode] [navigateForward]="navigation">
                        <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }"
                            stepTitle="Employee Details" stepId="employee_info1">
                            <form class="needs-validation" [formGroup]="employeeForm" autocomplete="off" novalidate>
                                <div class="form-row mt-3" formGroupName="employee_info">
                                    <div class="form-group mt-4 col-md-1 mb-3">
                                        <div class="form-check">
                                            <div class="checkbox p-0">
                                                <input id="generate_emp_no" type="checkbox"
                                                    formControlName="generate_emp_no" class="form-check-input">
                                                <label class="form-check-label" for="generate_emp_no"
                                                    ngbTooltip="Generate Employee No">
                                                    <app-feather-icons class="search-icon" [icon]="'trello'">
                                                    </app-feather-icons>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Employee No Start -->
                                    <div class="col-md-2 mb-3">
                                        <label for="employee_no">Employee No</label>
                                        <input type="text" *ngIf="!employeeForm.controls['employee_info'].controls['generate_emp_no'].value"
                                            class="form-control" id="employee_no" placeholder="Employee No"
                                            formControlName="employee_no">
                                        <input type="text" *ngIf="employeeForm.controls['employee_info'].controls['generate_emp_no'].value"
                                            disabled="true" class="form-control" id="employee_no"
                                            placeholder="Employee No"
                                            formControlName="employee_no">
                                    </div>
                                    <!-- Employee No End -->
                                    <!-- First Name Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="f_name">First name <span class="font-danger">*</span></label>
                                        <input type="text" class="form-control" id="f_name" placeholder="First name"
                                            formControlName="f_name">
                                        <div *ngIf="employeeForm.controls.employee_info.controls.f_name.touched && employeeForm.controls.employee_info.controls.f_name.errors?.required"
                                            class="text text-danger">
                                            First Name is required.
                                        </div>
                                    </div>
                                    <!-- First Name End -->
                                    <!-- Middle Name Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="m_name">Middle name <span class="font-danger">*</span></label>
                                        <input type="text" class="form-control" id="m_name" placeholder="Middle name"
                                            formControlName="m_name">
                                        <div *ngIf="employeeForm.controls.employee_info.controls.m_name.touched && employeeForm.controls.employee_info.controls.m_name.errors?.required"
                                            class="text text-danger">
                                            Middle Name is required.
                                        </div>
                                    </div>
                                    <!-- Middle Name End -->
                                    <!-- Last Name Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="l_name">Last name <span class="font-danger">*</span></label>
                                        <input type="text" class="form-control" id="l_name" placeholder="Last name"
                                            formControlName="l_name">
                                        <div *ngIf="employeeForm.controls.employee_info.controls.l_name.touched && employeeForm.controls.employee_info.controls.l_name.errors?.required"
                                            class="text text-danger">
                                            Last Name is required.
                                        </div>
                                    </div>
                                    <!-- Last Name End -->
                                    <!-- Birth Date Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="dob">Date Of Birth <span class="font-danger">*</span></label>
                                        <input type="date" class="form-control" id="dob" placeholder="dob"
                                            formControlName="dob">

                                            <div *ngIf="employeeForm.controls.employee_info.controls.dob.touched && employeeForm.controls.employee_info.controls.dob.errors?.required"
                                            class="text text-danger">
                                            Date Of Birth is required.
                                        </div>
                                    </div>
                                    <!-- Birth Date End -->
                                    <!-- Joining Date Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="joining_date">Joining Date <span class="font-danger">*</span></label>
                                        <input type="date" class="form-control" id="joining_date" placeholder="20/02/2022"
                                            formControlName="joining_date">
                                            <div *ngIf="employeeForm.controls.employee_info.controls.joining_date.touched && employeeForm.controls.employee_info.controls.joining_date.errors?.required"
                                            class="text text-danger">
                                            Joining Date is required.
                                        </div>
                                    </div>
                                    <!-- Joining Date End -->
                                    <!-- blood_group Start -->
                                    <div class="col-md-3 mb-3">
                                        <div class="d-flex justify-content-between"> <label for="blood_group_id">Blood Group </label></div>
                                        <div class="row">
                                            <select class="form-control col-9 ml-2 mr-2" id="blood_group_id" placeholder="blood_group"
                                                formControlName="blood_group_id">
                                                <option value="">Select a Blood Group</option>
                                                <option *ngFor="let data of bloodGroupList" value="{{data.id}}">
                                                    {{data.name}}</option>
                                            </select>
                                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary mt-1" style="height: 28px; width: 28px;" ngbTooltip="Add Blood Group" (click)="addBloodGroup()"></button>
                                        </div>
                                    </div>
                                    <!-- blood_group End -->
                                    <div class="col-md-3 mb-3"></div>
                                    <!-- gender Start -->
                                    <div class="col-md-3 mb-3">
                                        <div class="d-flex justify-content-between"> <label for="gender_id">Gender <span class="font-danger">*</span></label></div>
                                        <div class="row">
                                            <select class="form-control col-9 ml-2 mr-2" id="gender_id" placeholder="gender"
                                                formControlName="gender_id">
                                                <option value="">Select a Gender</option>
                                                <option *ngFor="let data of genderList" value="{{data.id}}">
                                                    {{data.name}}</option>
                                            </select>
                                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary mt-1" style="height: 28px; width: 28px;" ngbTooltip="Add Gender" (click)="addGender()"></button>
                                        </div>
                                        <div *ngIf="employeeForm.controls.employee_info.controls.gender_id.touched && employeeForm.controls.employee_info.controls.gender_id.errors?.required"
                                        class="text text-danger">
                                        Gender is required.
                                    </div>
                                    </div>
                                    <!-- gender End -->
                                    <!-- religion Start -->
                                    <div class="col-md-3 mb-3">
                                        <div class="d-flex justify-content-between"> <label for="religion_id">Religion </label></div>
                                        <div class="row">
                                            <select class="form-control col-9 ml-2 mr-2" id="religion_id" placeholder="religion"
                                                formControlName="religion_id">
                                                <option value="">Select a Religion</option>
                                                <option *ngFor="let data of religionList" value="{{data.id}}">
                                                    {{data.name}}</option>
                                            </select>
                                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary mt-1" style="height: 28px; width: 28px;" ngbTooltip="Add Religion" (click)="addReligion()"></button>
                                        </div>
                                    </div>
                                    <!-- religion End -->
                                    <!-- caste Start -->
                                    <div class="col-md-3 mb-3">
                                        <div class="d-flex justify-content-between"> <label for="caste_id">Caste </label></div>
                                        <div class="row">
                                            <select class="form-control col-9 ml-2 mr-2" id="caste_id" placeholder="caste"
                                                formControlName="caste_id">
                                                <option value="">Select a Caste</option>
                                                <option *ngFor="let data of casteList" value="{{data.id}}">
                                                    {{data.name}}</option>
                                            </select>
                                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary mt-1" style="height: 28px; width: 28px;" ngbTooltip="Add Caste" (click)="addCaste()"></button>
                                        </div>
                                    </div>
                                    <!-- caste End -->
                                    <!-- category Start -->
                                    <div class="col-md-3 mb-3">
                                        <div class="d-flex justify-content-between"> <label for="category_id">Category </label></div>
                                        <div class="row">
                                            <select class="form-control col-9 ml-2 mr-2" id="category_id" placeholder="category"
                                                formControlName="category_id">
                                                <option value="">Select a Category</option>
                                                <option *ngFor="let data of categoryList" value="{{data.id}}">
                                                    {{data.name}}</option>
                                            </select>
                                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary mt-1" style="height: 28px; width: 28px;" ngbTooltip="Add Category" (click)="addCategory()"></button>
                                        </div>
                                    </div>
                                    <!-- category End -->
                                    <!-- Phone Number Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="mobile">Phone Number</label>
                                        <input type="text" class="form-control" id="mobile" prefix="+91"
                                            mask=" 00000 00000" placeholder="Phone Number"
                                            formControlName="mobile">
                                            <div *ngIf="employeeForm.controls.employee_info.controls.mobile.touched && employeeForm.controls.employee_info.controls.mobile.value.length<10"
                                            class="text text-danger">
                                            Number should be min 10 digits.
                                        </div>
                                        <div *ngIf="employeeForm.controls.employee_info.controls.mobile.touched && employeeForm.controls.employee_info.controls.mobile.errors?.maxlength"
                                            class="text text-danger">
                                            Number should be max 12 digits.
                                        </div>
                                    </div>
                                    <!-- Phone Number End -->
                                    <!-- Email Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@</span>
                                            </div>
                                            <input type="email" class="form-control" id="email" placeholder="Email"
                                                formControlName="email">
                                        </div>
                                        <div *ngIf="employeeForm.controls.employee_info.controls.email.touched && employeeForm.controls.employee_info.controls.email.errors?.required"
                                            class="text text-danger">
                                            Email is required.
                                        </div>
                                        <div *ngIf="employeeForm.controls.employee_info.controls.email.touched && employeeForm.controls.employee_info.controls.email.errors?.email"
                                            class="text text-danger">
                                            Email pattern is required.
                                        </div>
                                    </div>
                                    <!-- Email End -->
                                    <!-- Nationality Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="nationality">Nationality <span
                                                class="font-danger">*</span></label>
                                        <input type="text" class="form-control" id="nationality"
                                            placeholder="Indian"
                                            formControlName="nationality">
                                            <div *ngIf="employeeForm.controls.employee_info.controls.nationality.touched && employeeForm.controls.employee_info.controls.nationality.errors?.required"
                                            class="text text-danger">
                                            Nationality is required.
                                        </div>
                                    </div>
                                    <!-- Nationality End -->
                                </div>
                                <div class="form-group f1-buttons">
                                    <button class="btn btn-primary btn-next" awNextStep> Next
                                    </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf279;', fontFamily: 'FontAwesome' }"
                            stepTitle="Address Info" stepId="employee_info2">
                            <form class="needs-validation" [formGroup]="employeeForm" autocomplete="off" novalidate>
                                <div class="form-row mt-3" formGroupName="employee_info">
                                    <!-- Address Details Start -->
                            <div class="form-row">
                                <div class="col-md-5 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="permanent_address">Permanent Address</label>
                                            <textarea class="form-control" id="permanent_address"
                                                formControlName="permanent_address" rows="3"
                                                cols="5" class="form-control"
                                                placeholder="Permanent Address"></textarea>
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_address.touched && employeeForm.controls.employee_info.controls.permanent_address.errors?.required"
                                                class="text text-danger">
                                                Permanent Address is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_city">City <span class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="permanent_city"
                                                placeholder="Banglore"
                                                formControlName="permanent_city">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_city.touched && employeeForm.controls.employee_info.controls.permanent_city.errors?.required"
                                                class="text text-danger">
                                                City is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_pin">Pin <span class="font-danger">*</span></label>
                                            <input type="text" mask="000 000" class="form-control" id="permanent_pin"
                                                placeholder="XXX XXX"
                                                formControlName="permanent_pin">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_pin.touched && employeeForm.controls.employee_info.controls.permanent_pin.errors?.required"
                                                class="text text-danger">
                                                Pin is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_taluka">Taluka <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="permanent_taluka"
                                                placeholder="Banglore"
                                                formControlName="permanent_taluka">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_taluka.touched && employeeForm.controls.employee_info.controls.permanent_taluka.errors?.required"
                                                class="text text-danger">
                                                Taluka is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_district">District <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="permanent_district"
                                                placeholder="Banglore"
                                                formControlName="permanent_district">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_district.touched && employeeForm.controls.employee_info.controls.permanent_district.errors?.required"
                                                class="text text-danger">
                                                District is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_state">State <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="permanent_state"
                                                placeholder="Karnataka"
                                                formControlName="permanent_state">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_state.touched && employeeForm.controls.employee_info.controls.permanent_state.errors?.required"
                                                class="text text-danger">
                                                State is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="permanent_country">Country <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="permanent_country"
                                                placeholder="India"
                                                formControlName="permanent_country">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.permanent_country.touched && employeeForm.controls.employee_info.controls.permanent_country.errors?.required"
                                                class="text text-danger">
                                                Country is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" (click)="copyAddress()"
                                    style="height: 2.2rem;margin-top: 5rem;" ngbTooltip="Copy Permanent Address">
                                    <app-feather-icons class="search-icon" [icon]="'copy'"></app-feather-icons>
                                </button>
                                <div class="col-md-5 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="current_address">Present Address</label>
                                            <textarea class="form-control" id="current_address"
                                                formControlName="current_address" rows="3"
                                                cols="5" class="form-control" placeholder="Present Address"></textarea>
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_address.touched && employeeForm.controls.employee_info.controls.current_address.errors?.required"
                                                class="text text-danger">
                                                Current Address is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="current_city">City <span class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="current_city"
                                                placeholder="Banglore"
                                                formControlName="current_city">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_city.touched && employeeForm.controls.employee_info.controls.current_city.errors?.required"
                                                class="text text-danger">
                                                City is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="current_pin">Pin <span class="font-danger">*</span></label>
                                            <input type="text" mask="000 000" class="form-control" id="current_pin"
                                                placeholder="XXX XXX"
                                                formControlName="current_pin">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_pin.touched && employeeForm.controls.employee_info.controls.current_pin.errors?.required"
                                                class="text text-danger">
                                                Pin is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="current_taluka">Taluka <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="current_taluka"
                                                placeholder="Banglore"
                                                formControlName="current_taluka">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_taluka.touched && employeeForm.controls.employee_info.controls.current_taluka.errors?.required"
                                                class="text text-danger">
                                                Taluka is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="current_district">District <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="current_district"
                                                placeholder="Banglore"
                                                formControlName="current_district">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_district.touched && employeeForm.controls.employee_info.controls.current_district.errors?.required"
                                                class="text text-danger">
                                                District is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="current_state">State <span class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="current_state"
                                                placeholder="Karnataka"
                                                formControlName="current_state">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_state.touched && employeeForm.controls.employee_info.controls.current_state.errors?.required"
                                                class="text text-danger">
                                                State is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="current_country">Country <span
                                                    class="font-danger">*</span></label>
                                            <input type="text" class="form-control" id="current_country"
                                                placeholder="India"
                                                formControlName="current_country">
                                                <div *ngIf="employeeForm.controls.employee_info.controls.current_country.touched && employeeForm.controls.employee_info.controls.current_country.errors?.required"
                                                class="text text-danger">
                                                Country is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Address Details End -->
                            <button class="btn btn-primary btn-previous mr-3" awPreviousStep 
                                > Previous </button>
                            <button class="btn btn-primary btn-next" [disabled]="!employeeForm.valid" awNextStep> Next
                            </button>
                                </div>
                            </form>
                        </aw-wizard-step>
                        <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf2bd;', fontFamily: 'FontAwesome' }"
                            stepTitle="Qualification Info" stepId="qualification_info">
                            <form class="needs-validation" [formGroup]="employeeForm" autocomplete="off" novalidate>
                                <div class="form-row mt-3" formGroupName="qualification_info">
                                    <!-- Institute Name Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="institute_name">Institute Name</label>
                                        <input type="text" class="form-control" id="institute_name" placeholder="Institute Name"
                                            formControlName="institute_name">
                                    </div>
                                    <!-- Institute Name End -->
                                    <!-- University Name Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="university_name">University Name</label>
                                        <input type="text" class="form-control" id="university_name" placeholder="University Name"
                                            formControlName="university_name">
                                    </div>
                                    <!-- University Name End -->
                                    <!-- Qualification Name Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="qualification_name">Qualification Name</label>
                                        <input type="text" class="form-control" id="qualification_name" placeholder="Qualification Name"
                                            formControlName="qualification_name">
                                    </div>
                                    <!-- Qualification Name End -->
                                    <!-- Qualification Type Start -->
                                    <div class="col-md-4 mb-3">
                                        <label for="qualification_type">Qualification Type</label>
                                        <input type="text" class="form-control" id="qualification_type" placeholder="Qualification Type"
                                            formControlName="qualification_type">
                                    </div>
                                    <!-- Qualification Type End -->
                                    <!-- Graduation Date Start -->
                                    <div class="col-md-3 mb-3">
                                        <label for="graduation_date">Graduation Date</label>
                                        <input type="date" class="form-control" id="graduation_date" placeholder="20/02/2022"
                                            formControlName="graduation_date">
                                    </div>
                                    <!-- Graduation Date End -->
                                    <!-- Total Percentage Start -->
                                    <div class="col-md-2 mb-3">
                                        <label for="total_per">Total Percentage</label>
                                        <input type="text" class="form-control" id="total_per"
                                            mask=" 000" [validation]="false" placeholder="100"
                                            formControlName="total_per">
                                    </div>
                                    <!-- Total Percentage End -->
                                    <!-- Scored Percentage Start -->
                                    <div class="col-md-2 mb-3">
                                        <label for="scored_per">Scored Percentage</label>
                                        <input type="text" class="form-control" id="scored_per"
                                            mask=" 000" [validation]="false" placeholder="80"
                                            formControlName="scored_per">
                                    </div>
                                    <!-- Scored Percentage End -->
                                </div>
                            </form>
                            <button class="btn btn-primary btn-previous mr-3" awPreviousStep 
                                > Previous </button>
                            <button class="btn btn-primary btn-next" [disabled]="submitDisable" (click)="submit()"> {{submitDisable?"":"Submit"}} &nbsp;<i class="fa fa-circle-o-notch fa-spin"
                                *ngIf="submitDisable"></i>
                            </button>
                        </aw-wizard-step>    
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>