<div class="container-fluid">
    <div class="row"> 
      <div class="col-xl-3 xl-40">
        <div class="card">
          <div class="card-header"><h5>New Expense A/c</h5></div>
          <div class="card-body">
            <form [formGroup]="accountForm">
            <div class="row" style="gap: 10px">
              <div class="col-12">
                <div class="job-filter">
                  <div class="faq-form">
                    <label for="account_name"
                      >Name <span class="font-danger">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="account_name"
                      formControlName="account_name"
                      placeholder="Tution.."
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="job-filter">
                  <div class="faq-form">
                    <label for="opening_balance"
                      >Opening Balance <span class="font-danger">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="opening_balance"
                      formControlName="opening_balance"
                      placeholder="1000.."
                    />
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-around" >
                <button
                class="btn btn-primary "
                style="max-height: 36px;"
                type="submit"
                (click)="onAddNew()"
                [disabled]="submitDisable"
              >
                {{submitDisable?"":accountForm.get('account_id').value?.toString().length > 0?"Update":"Add"}} &nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="submitDisable"></i>
              </button>
              <button
                class="btn btn-warning"
                style="max-height: 36px;"
                type="button"
                (click)="Clear()"
              >
                Clear
              </button>
              </div>
              
              
            </div>
          </form>
          </div>
        </div>
      </div>
      <div class="col-xl-9 xl-60">
        <div class="card">
          <div class="card-header"><h5>Expense Accounts</h5></div>
          <div class="collapse show">
            <div class="card-body">
              <div class="row mt-4 pl-3 pr-3">
                <div class="col-md-8 col-sm-8">
                  <div class="faq-form">
                    <input
                      class="form-control"
                      [(ngModel)]="filterValue"
                      type="text"
                      (keyup)="onFilter($event.target.value)"
                      placeholder="Search.."
                    />
                    <app-feather-icons
                      class="search-icon"
                      [icon]="'search'"
                    ></app-feather-icons>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 d-flex justify-content-around">
                  <button
                    class="btn btn-warning text-center"
                    type="button"
                    (click)="filterValue = ''; onClear()"
                  >
                    Clear
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="card-body custom-datatable">
                  <div class="loader-box center" *ngIf="dataFetch">
                    <span class="rotate dashed"></span>
                  </div>
                  <p-table [value]="List" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                  <ng-template pTemplate="header" >
                      <tr>
                          <th style="width: 7rem" pSortableColumn="code">SlNo <p-sortIcon field="code"></p-sortIcon></th>
                          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                          <th style="width: 11rem" pSortableColumn="balance">Balance <p-sortIcon field="balance"></p-sortIcon></th>
                          <th style="width: 10rem" >Actions</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                      <tr>
                          <td>{{rowIndex+1}}</td>
                          <td>{{product.account_name}}</td>
                          <td>{{product.balance}}</td>
                          <td> 
                            <div>
                              <button pButton pRipple type="button" *ngIf="product.isEditable == 1" icon="pi pi-pencil" class="p-button-rounded btn-primary" style="height: 35px; width: 35px;" (click)="update(product)"></button> 
                        </div>
                        </td>
                      </tr>
                  </ng-template>
              
                </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fee Group Card Start -->
    </div>
  </div>
  