<div class="container-fluid"> 
  <div class="row">
      <div class="col-12">
          <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="mb-0">
                        <button class="btn btn-link pl-0" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter" aria-controls="collapse">Filter</button>
                      </h5>
                    </div>
                    <div class="collapse show" *ngIf="isFilter">
                      <div class="card-body filter-cards-view animate-chk">
                        <div class="row">
                          <div class="col-xl-3 col-md-6 col-sm-12">
                            <label for="department_id">Department <span class="font-danger">*</span></label>
                            <select class="form-control" id="department_id" placeholder="Kannada" (change)="onFilterData('')" [formControl]="filterForm.controls['department']">
                              <option value="">Select a Department</option>
                              <option *ngFor="let data of departmentList" value="{{ data.name }}">
                                {{ data.name }}
                              </option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-md-6 col-sm-12">
                            <label for="class_id">Class <span class="font-danger">*</span></label>
                            <select class="form-control" id="class_id" placeholder="1" (change)="onFilterData('')" [formControl]="filterForm.controls['class']">
                              <option value="">Select a Class</option>
                              <option *ngFor="let data of classList" value="{{ data.name }}">
                                {{ data.name }}
                              </option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-md-6 col-sm-12">
                            <label for="division_id">Division <span class="font-danger">*</span></label>
                            <select class="form-control" id="division_id" placeholder="1" (change)="onFilterData('')" [formControl]="filterForm.controls['division']">
                              <option value="">Select a Division</option>
                              <option *ngFor="let data of divisionList" value="{{ data.name }}">
                                {{ data.name }}
                              </option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
                            <div class="faq-form">
                              <label for="bg_id">Name</label>
                              <input class="form-control" type="text" [formControl]="filterForm.controls['studentName']" (keyup)="onFilterData($event.target.value)" placeholder="Search.." />
                            </div>
                          </div>
                          <div class="col-xl-3 col-md-6 col-sm-12 float-right">
                            <div class="faq-form">
                              <label for="bg_id">&nbsp;</label>
                              <button class="btn btn-primary text-center align-self-center align-bottom" (click)="reset(); onFilterData('')">Clear</button>
                            </div>
                          </div>
                        </div>
                        <div class="row d-flex align-items-center"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="row"> 
    <div class="col-12">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="loader-box center" *ngIf="dataFetch">
                  <span class="rotate dashed"></span>
                </div>
                <p-table [value]="StudentList" *ngIf="!dataFetch" class="table" selectionMode="single" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="btn-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" >
                    <tr>
                        <th>SlNo</th>
                        <th pSortableColumn="student_name">Name <p-sortIcon field="student_name"></p-sortIcon></th>
                        <th pSortableColumn="department">Medium <p-sortIcon field="department"></p-sortIcon></th>
                        <th pSortableColumn="class">Class <p-sortIcon field="class"></p-sortIcon></th>
                        <th pSortableColumn="division">Division <p-sortIcon field="division"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                  <tr (click)="openSelectd(product)" style="cursor: pointer;">
                    <td>{{rowIndex+1}}</td>
                    <td><img class="middle " src="{{product.student_photo}}" height="50px" style="border-radius: 50%;" width="50px" [alt]="product.student_name"> {{product.student_name}}</td>
                    <td>{{product.department}}</td>
                    <td>{{product.class}}</td>
                    <td>{{product.division}}</td>
                </ng-template>
              </p-table>
              </div>
                
            </div>
          </div>
      </div>
    </div>
    <!-- Fee Group Card Start -->
  </div>
</div>
