<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 xl-40">
      <div class="card">
        <div class="card-header"><h5>New Fee Component</h5></div>
        <div class="card-body">
          <div class="row" style="gap: 10px;">
            <div class="col-12">
              <form [formGroup]="FeeComponent">
                <div class="job-filter">
                  <div class="faq-form">
                    <label for="title">Name <span class="font-danger">*</span></label>
                    <input id="title" class="form-control" type="text" formControlName="component_name" placeholder="Dashboard.."/>
                    <div *ngIf="FeeComponent.controls.component_name.touched && FeeComponent.controls.component_name.errors?.required"
                          class="text text-danger">
                          Name is required.
                      </div>
                  </div> 
                </div>
                <div class="job-filter mt-2">
                  <div class="faq-form">
                      <label for="title">Fee Group <span class="font-danger">*</span></label>
                      <select class="form-control" id="bg_id" formControlName="group_id" >
                        <option value="">Select a Fee Group</option>
                        <option  *ngFor="let data of List" value="{{ data.id }}">{{ data.name }}</option>
                      </select>
                      <div *ngIf="FeeComponent.controls.group_id.touched && FeeComponent.controls.group_id.errors?.required" class="text text-danger">
                        Fee Group is required.
                      </div>
                  </div>
                </div>
                <div class="job-filter mt-2">
                  <div class="faq-form">
                      <label for="path">Fees </label>
                      <input id="title" class="form-control" type='text'  mask="separator.2" thousandSeparator="," formControlName="fees" placeholder="500">

                      <div *ngIf="FeeComponent.controls.fees.touched && FeeComponent.controls.fees.errors?.required" class="text text-danger">
                        Fees is required.
                      </div>
                  </div>
                </div>
                <div class="row" style="gap: 20px;justify-content: center;">
                    <button
                      class="btn btn-primary text-center mt-4"
                      type="submit"
                      [disabled]="loader"
                      (click)="onAddNew()"
                    >
                      {{loader?"":FeeComponent.controls.fee_component_id.value?"Update":"Add"}}&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"></i>
                    </button>
                    <button
                      class="btn btn-warning text-center mt-4"
                      type="reset"
                      (click)="onClearForm()"
                    >
                      Clear
                    </button>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
      <div class="col-xl-9 xl-60">
          <div class="card">
            <div class="card-header"><h5>Fee Groups</h5></div>
              <div class="collapse show">
                <div class="card-body">
                  <div class="row pl-3 pr-3"  style="gap: 10px;">
                      <div class="col-md-4 col-sm-12">
                        <div class="faq-form">
                          <label for="bg_id">Fee Group <span class="font-danger">*</span></label>
                          <select
                            class="form-control"
                            id="bg_id"
                            placeholder="2021-2022"
                            [(ngModel)]="filterGroupValue"
                            (change)="onFilter('')"
                          >
                            <option value="">Select a Fee Group</option>
                            <option  *ngFor="let data of List" value="{{ data.id }}">{{ data.name }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-12">
                        <div class="faq-form">
                          <label for="bg_id">Fee Component</label>
                          <input
                          class="form-control"
                          [(ngModel)]="filterValue"
                          type="text"
                          (keyup)="onFilter($event.target.value)"
                          placeholder="Search.."
                        />
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-12 d-flex justify-content-around">                        
                        <button class="btn btn-warning text-center mt-4" style="height: 35px;" type="button" (click)="filterValue='';filterGroupValue='';onClear()">Clear</button>
                      </div>
                  </div>
                 <div class="row">
                  <div class="card-body custom-datatable">
                    <div class="loader-box center" *ngIf="dataFetch"><span class="rotate dashed"></span></div>
                    
                <p-table [value]="CompList" class="table"  rowGroupMode="rowspan" groupRowsBy="group_name"  *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header" >
                    <tr>
                        <th pSortableColumn="group_name">Group <p-sortIcon field="group_name"></p-sortIcon></th>
                        <th pSortableColumn="component_name">Name <p-sortIcon field="component_name"></p-sortIcon></th>
                        <th pSortableColumn="fees">Fees <p-sortIcon field="fees"></p-sortIcon></th>
                        <th >Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex"  let-rowgroup="rowgroup" let-rowspan="rowspan">
                    <tr>
                        <td  *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ product.group_name }}</td>
                        <td>{{ product.component_name }}</td>
                        <td>{{ product.fees | currency: 'INR'}}</td>
                        <td> 
                          <div>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-primary" style="height: 35px; width: 35px;" (click)="editClick(rowIndex,product)"></button> 
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-2" style="height: 35px; width: 35px;" (click)="onDelete(product.fee_component_id)"></button> 
                          </div>
                        </td>
                    </tr>
                </ng-template>
            
              </p-table>
                </div>
                 </div> 
                </div>
              </div>
            </div>
      </div>
      <!-- Fee Group Card Start -->
  </div>
</div>