<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>Admission Letter</h3>
            <div class="btn-group" role="group" ariatext-label="Basic example">
              <button
                class="icofont icofont-print mr-4"
                style="cursor: pointer; font-size: 25px; font-weight: 400"
                [useExistingCss]="true"
                [printTitle]="admission_data.admission_no"  
                printSectionId="admissionForm" ngxPrint
              ></button>
            </div>
          </div>
        </div>
        

        <div class="card-body" id="admissionForm" *ngIf="data">
          <div class="receipt-content">
            <div class="container bootstrap snippets bootdey">
              <div class="row">
                <div class="col-12">
                  <div class="invoice-wrapper mb-4">
                    <div class="row">
                      <div class="col-2">
                        <img
                          src="assets/images/logo-min.png"
                          style="height: 6rem"
                          alt=""
                          crossorigin
                        />
                      </div>
                      <div class="col">
                        <div
                          class="row"
                          style="justify-content: center; text-align: center"
                        >
                        <div style="font-size: 13px; margin-top: 2px">
                          <b>ಬಾಲಾಜಿ ವಿದ್ಯಾವರ್ಧಕ ಸಂಘ (ರಿ)</b>
                        </div>
                        </div>
                        <div
                          class="row"
                          style="justify-content: center; text-align: center"
                        >
                          <h6><b>ರಾಯಲ್ ಪ್ಯಾಲೇಸ್ ಇಂಟರನ್ಯಾಷನಲ್ ಸ್ಕೂಲ್ ಲೋಕಾಪೂರ</b></h6>
                        </div>
                        <div
                          class="row"
                          style="justify-content: center; text-align: center"
                        >
                          <h2>Royal Palace International School</h2>
                          <h5>Lokapur-587 122</h5>
                        </div>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row mb-3" style="justify-content: space-around">
                      <div class="row">
                        <div style="font-size: 12px; margin-top: 2px">
                          ತಾ : ಮುಧೋಳ
                        </div>
                        <h6>&nbsp; Tq : Mudhol</h6>
                      </div>
                      <div class="row">
                        <div style="font-size: 12px; margin-top: 2px">
                          ಜಿ : ಬಾಗಲಕೋಟ
                        </div>
                        <h6>&nbsp; Dt : Bagalkot</h6>
                      </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                      <div style="border: 1px solid black; border-radius: 15px">
                        <div
                          style="
                            border: 1px solid black;
                            border-radius: 13px;
                            margin: 3px;
                          "
                        >
                          <h3 style="margin: 5px">APPLICATION OF ADMISSION</h3>
                        </div>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row" style="margin-top: 80px">
                        <div class="col-10 items">
                          <div class="text">To.</div>
                          <div
                            class="row d-flex"
                            style="
                              justify-content: space-between;
                              margin-right: -100px;
                            "
                          >
                            <div class="text">The Headmaster/Headmistress</div>
                            <div class="text">ಮುಖ್ಯೋಪಾಧ್ಯಾಯ/ನಿಯರಿಗೆ</div>
                          </div>
                        </div>
                        <div class="col-2">
                          <!-- <div style="border: 1px solid black;margin-top: -140px;margin-left: -20px; height: 150px;width: 120px;"></div> -->
                          <img
                            src='{{personal_data.student_photo}}'
                            style="
                              height: 8rem;
                              margin-top: -150px;
                              margin-left: -20px;
                            "
                            alt=""
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row payment-details">
                      <div class="col-6 row">
                        <div>
                          <div class="text-label">Admission Date :</div>
                          <div class="subtext">ಪ್ರವೇಶ ದಿನಾಂಕ</div>
                        </div>
                        <div class="text">
                          {{ admission_data.admission_date }}
                        </div>
                      </div>
                      <div class="col-6 row">
                        <div class="field_label2">
                          <div class="text-label">Admission No :</div>
                          <div class="subtext">ಪ್ರವೇಶ ಸಂಖ್ಯೆ</div>
                        </div>
                        <div class="text">
                          {{ admission_data.admission_no }}
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Student Details</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row col">
                        <div>
                          <div class="text-label">1. Name of the pupil :</div>
                          <div class="subtext">ವಿದ್ಯಾರ್ಥಿಯ ಹೆಸರು</div>
                        </div>
                        <div class="col">
                          <div class="text">
                            {{ personal_data.student_name }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row mr-1 d-flex">
                        <div class="col-6 row">
                          <div>
                            <div class="text-label">2. Date Of Birth :</div>
                            <div class="subtext">ಹುಟ್ಟಿದ ದಿನಾಂಕ</div>
                          </div>
                          <div class="text">{{ personal_data.dob }}</div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_Label2">
                            <div class="text-label">3. Gender :</div>
                            <div class="subtext">ಲಿಂಗ</div>
                          </div>
                          <div class="text">{{ personal_data.gender }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row col">
                        <div>
                          <div class="text-label">
                            4. Religion/Cast/Category :
                          </div>
                          <div class="subtext">ಧರ್ಮ/ಜಾತಿ/ವರ್ಗ</div>
                        </div>

                        <div class="text">
                          {{ personal_data.religion }} /
                          {{ personal_data.caste }} /
                          {{ personal_data.category }}
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row col mr-1 d-flex">
                        <div class="text-label">5. SATS NO :</div>
                        <div class="text">{{ admission_data.sats_no }}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Parents Details</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row col">
                        <div>
                          <div class="text-label">6. Father Name :</div>
                          <div class="subtext">ತಂದೆಯ ಹೆಸರು</div>
                        </div>
                        <div class="text">{{ parent_data.fathers_name }}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row mr-1 d-flex">
                        <div class="col-6 row">
                          <div>
                            <div class="text-label">7. Phone No :</div>
                            <div class="subtext">ದೂರವಾಣಿ ಸಂಖ್ಯೆ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.fathers_mobile }}
                          </div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_Label2">
                            <div class="text-label">8. Occupation :</div>
                            <div class="subtext">ಉದ್ಯೋಗ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.father_occupation }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row col">
                        <div>
                          <div class="text-label">9. Mothers Name :</div>
                          <div class="subtext">ತಾಯಿಯ ಹೆಸರು</div>
                        </div>
                        <div class="text">{{ parent_data.mothers_name }}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row mr-1 d-flex">
                        <div class="col-6 row">
                          <div>
                            <div class="text-label">10. Phone No :</div>
                            <div class="subtext">ದೂರವಾಣಿ ಸಂಖ್ಯೆ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.mothers_mobile }}
                          </div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_Label2">
                            <div class="text-label">11. Occupation :</div>
                            <div class="subtext">ಉದ್ಯೋಗ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.mothers_occupation }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Guardian Details</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row col">
                        <div>
                          <div class="text-label">
                            12. Guardian Name :
                          </div>
                          <div class="subtext">ಪೋಷಕರ ಹೆಸರು</div>
                        </div>
                        <div class="text">{{ parent_data.guardians_name }}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row mr-1 d-flex">
                        <div class="col-6 row">
                          <div>
                            <div class="text-label">
                              13. Guardian Relation :
                            </div>
                            <div class="subtext">ಪೋಷಕರ ಸಂಬಂಧ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.guardian_relation }}
                          </div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_label2">
                            <div class="text-label">14. Phone No :</div>
                            <div class="subtext">ದೂರವಾಣಿ ಸಂಖ್ಯೆ</div>
                          </div>
                          <div class="text">
                            {{ parent_data.guardians_mobile }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row col mr-1 d-flex">
                        <div class="text-label">15. Guardian Address :</div>
                      </div>
                      <div class="row ml-4 mt-2 d-flex" >
                        <div class="text">
                          {{ parent_data.guardian_address }}
                        </div>
                      </div>
                    </div>

                    <div class="payment-details" >
                      <div class="row">
                        <h4>Other Details</h4>
                      </div>
                    </div>

                    <div class="mt-2">
                      <div class="row col d-flex">
                        <div class="text-label">
                          16. Child with special Needs? :
                        </div>
                        <div class="text">{{personal_data.is_special_needs == 1 ?"Yes":"No"}}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Address Details</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row">
                        <div class="col-6">
                          <div class="text-label">Permanent Address :</div>
                        </div>
                        <div class="col-6">
                          <div class="text-label">Present Address :</div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="text">
                            {{ personal_data.stud_permanent_address }}
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="text">
                            {{ personal_data.stud_current_address }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Study Details</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row d-flex">
                        <div class="col-6 row">
                          <div>
                            <div class="text-label">17. Academin Year :</div>
                            <div class="subtext">ಶೈಕ್ಷಣಿಕ ವರ್ಷ</div>
                          </div>
                          <div class="text">
                            {{ current_academic_details.academic_year }}
                          </div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_label2">
                            <div class="text-label">18. Medium :</div>
                            <div class="subtext">ಮಾಧ್ಯಮ</div>
                          </div>
                          <div class="text">
                            {{ current_academic_details.department }}
                          </div>
                        </div>
                      </div>
                      <div class="row col payment-details">
                        <div>
                          <div class="text-label">19. Class :</div>
                          <div class="subtext">ವರ್ಗ</div>
                        </div>
                        <div class="text">
                          {{ current_academic_details.class }}
                        </div>
                      </div>
                      
                    </div>

                    <div class="payment-details"  *ngIf="previous_academic_data?.length > 0">
                      <div class="row">
                        <h4>Study History Details</h4>
                      </div>
                    </div>

                    <div class="mt-3"  *ngIf="previous_academic_data?.length > 0">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text">SlNo</th>
                            <th class="text">School Name</th>
                            <th class="text">Scholarships</th>
                            <th class="text">Standard</th>
                            <th class="text">Leave Date</th>
                            <th class="text">Reason</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let school of previous_academic_data;
                              let i = index
                            "
                          >
                            <td class="text">{{ i + 1 }}</td>
                            <td class="text">{{ school.institution_name }}</td>
                            <td class="text">{{ school.scholarship }}</td>
                            <td class="text">{{ school.standard_attended }}</td>
                            <td class="text">{{ school.leave_date }}</td>
                            <td class="text">{{ school.reason }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="payment-details"  *ngIf="student_documents.length > 0">
                      <div class="row">
                        <h4>Document Details</h4>
                      </div>
                    </div>
                    <div class="mt-3"  *ngIf="student_documents.length > 0">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text">SlNo</th>
                            <th class="text">Document Type</th>
                            <th class="text">Document No/Name</th>
                            <th class="text"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let data of student_documents;
                              let i = index
                            "
                          >
                            <td class="text">
                              {{ i + 1 }}
                            </td>
                            <td>
                              <span class="text">{{ data.doc_name }}</span>
                            </td>
                            <td>
                              <span class="text">{{ data.document_no }}</span>
                            </td>
                            <td>
                              <input id="is_special_needs" type="checkbox" class="form-check-input" >

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="mt-3 payment-details">
                      <div class="row col d-flex">
                        <div class="text-label">20. Languages Studied :</div>
                        <div class="text">
                          {{personal_data.languages_studied}}
                        </div>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row col d-flex">
                        <div class="text-label">
                          21. Previous medium of instruction :
                        </div>
                        <div class="text">{{personal_data.previous_medium_of_instrutcion}}</div>
                      </div>
                    </div>

                    <div class="payment-details">
                      <div class="row">
                        <h4>Rules and Regulations</h4>
                      </div>
                    </div>

                    <div class="mt-3">
                      <div class="row d-flex">
                        <angular-editor
                          class="col-12"
                          style="height:fit-content;"
                          [(ngModel)]="rules" 
                          [config]="config"
                        ></angular-editor>
                      </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="mt-5">
                      <div class="row d-flex justify-content-between">
                        <div class="col-6 row">
                          <div class="field_label2">
                            <div class="text-label">Signature Of Parent/Guardian</div>
                            <div class="subtext" style="margin-left: -1px;">ತಂದೆ ತಾಯಿ ಅಥವಾ ಪೋಷಕರ ಸಹಿ</div>
                          </div>
                        </div>
                        <div class="col-6 row">
                          <div class="field_label2">
                            <div class="text-label">Signature Of Headmaster/Headmistress</div>
                            <div class="subtext" style="margin-left: -50px;">ಮುಖ್ಯೋಪಾಧ್ಯಾಯರ / ಮುಖ್ಯೋಪಾಧ್ಯಾಯನಿಯರ ಸಹಿ</div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
