<div
  class="customizer-links"
  [ngClass]="{ open: customizer }"
  id="inner-customizer"
>
  <div
    class="nav flex-column nac-pills"
    id="c-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <a
      href="javascript:void(0)"
      class="nav-link"
      [ngClass]="{ 'active show': customizer == 'color' }"
      id="c-pills-profile-tab"
      (click)="openCustomizerSetting(customizer == 'color'?'':'color')"
    >
      <div class="settings color-settings">
        <i class="fa fa-gear"></i>
      </div>
    </a>
  </div>
</div>
<div class="customizer-contain" [ngClass]="{ open: customizer }">
  <div class="tab-content" id="c-pills-tabContent">
   <div class="customizer-header">
      <!-- <i class="-close icon-close" (click)="customizer = ''"></i> -->
      <h5>Customizer</h5>
      </div>
    <div class="customizer-body custom-scrollbar">
      <div
        class="tab-pane fade"
        [ngClass]="{ 'active show': customizer == 'color' }"
        id="c-pills-profile"
        role="tabpanel"
        aria-labelledby="c-pills-profile-tab"
      >
        <h6 class="">Mix Layout</h6>
        <ul class="layout-grid customizer-mix">
          <li
            class="color-layout"
            data-attr="light-only"
            (click)="customizeMixLayout('light-only','bootstrap4-light-blue')"
          >
            <div class="header bg-light">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-light sidebar"></li>
                <li class="bg-light body"></li>
              </ul>
            </div>
          </li>
          <li
            class="color-layout"
            data-attr=""
            (click)="customizeMixLayout('default','bootstrap4-light-blue')"
          >
            <div class="header bg-light">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-dark sidebar"></li>
                <li class="bg-light body"></li>
              </ul>
            </div>
          </li>
          <li
            class="color-layout"
            data-attr="dark-body-only"
            (click)="customizeMixLayout('dark-body-only','bootstrap4-dark-blue')"
          >
            <div class="header bg-light">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-light sidebar"></li>
                <li class="bg-dark body"></li>
              </ul>
            </div>
          </li>
          <li
            class="color-layout"
            data-attr="dark-sidebar-body-mix"
            (click)="customizeMixLayout('dark-sidebar-body-mix','bootstrap4-light-blue')"
          >
            <div class="header bg-light">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-dark sidebar"></li>
                <li class="bg-dark body"></li>
              </ul>
            </div>
          </li>
          <li
            class="color-layout"
            data-attr="dark-header-sidebar-mix"
            (click)="customizeMixLayout('dark-header-sidebar-mix','bootstrap4-light-blue')"
          >
            <div class="header bg-dark">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-dark sidebar"></li>
                <li class="bg-light body"></li>
              </ul>
            </div>
          </li>
          <li
            class="color-layout"
            data-attr="dark-only"
            (click)="customizeMixLayout('dark-only','bootstrap4-dark-blue')"
          >
            <div class="header bg-dark">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="body">
              <ul>
                <li class="bg-dark sidebar"></li>
                <li class="bg-dark body"></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
