<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                  <div class="card-body step-indicator">
                    <aw-wizard navBarLayout="large-filled-symbols" [awNavigationMode] [navigateForward]="navigation">
                        <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome ' }" stepTitle="Students" [stepId]="0">
                            <p-table #studentListdt [value]="config.data.studentList"  [(selection)]="selectedStudentList" [showCurrentPageReport]="true" responsiveLayout="scroll" dataKey="admission_no" [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
                                <ng-template pTemplate="caption">
                                  <div class="flex justify-content-between">
                                    List of Students
                                                      
                                  </div>
                                  
                                </ng-template>
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th style="width: 4rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>Slno</th>
                                    <th>Name</th>
                                    <th>Admission No</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                                  <tr>
                                    <td>
                                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                    </td>
                                    <td>{{ rowIndex + 1 }}</td>
                                    <td>{{ product.f_name + " " + product.m_name+ " " + product.l_name }}</td>
                                    <td>{{ product.admission_no }}</td>
                                    <td>{{ product.max_marks??"-" }}</td>
                                    <td>{{ product.grade??"-" }}</td>
                                  </tr>
                                </ng-template>
                              </p-table>
                              <div class="col flex justify-content-evenly">
                                <button class="btn btn-primary" style="max-height: 36px" type="button" awNextStep (click)="copyStudents()">Next</button>
                              </div>
                        </aw-wizard-step>
                        <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0c0;', fontFamily: 'FontAwesome ' }" stepTitle="Marks"  [stepId]='1' >
                            <p-table #studentListdt [value]="studentList" [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        dataKey="admission_no"
                        [paginator]="true"
                        [rows]="10"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]">
                          <ng-template pTemplate="caption">
                            <div class="flex justify-content-between">List of Students</div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Slno</th>
                              <th>Name</th>
                              <th>Admission No</th>
                              <th>marks</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                              <td>{{ rowIndex + 1 }}</td>
                              <td>{{ product.f_name + " " + product.m_name+ " " + product.l_name }}</td>
                              <td>{{ product.admission_no }}</td>
                              <td>
                                <input type="number"  class="form-control" style="width: 6rem !important;" id="result_date" placeholder="100"
                                [(ngModel)]="product.marks">
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="col flex justify-content-evenly">
                            <button class="btn btn-primary" style="max-height: 36px" type="button" (click)="submit()">Submit</button>
                          </div>
                        </aw-wizard-step>
                    </aw-wizard>
                  </div>
            </div>
        </div>
    </div>
</div>