<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding-bottom: 1px;">
            <h3>Marks Grading</h3>
        </div>
        <div class="card-body" style="padding-top: 10px;">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <h5>
                        School History
                        <button class="btn btn-primary pull-right" (click)="addSchoolHistory()">
                          Add new
                        </button>
                        <div class="clearfix"></div>
                      </h5>
                    <div class="table-responsive mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                  <th>SlNo</th>
                                  <th>Grade Name</th>
                                  <th>Percent From</th>
                                  <th>Percent Upto</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let school of marksGrading; let i = index">
                                    <td>
                                        {{school.slNo}}
                                    </td>
                                    <td>
                                        <div *ngIf="editIndex != i">{{school.gradeName}}</div>
                                        <div *ngIf="editIndex == i">
                                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="school.gradeName" value="{{school.gradeName}}">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="editIndex != i">{{school.percentFrom}}</div>
                                        <div *ngIf="editIndex == i">
                                            <input type="number" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="school.percentFrom" value="{{school.percentFrom}}">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="editIndex != i">{{school.percentUpto}}</div>
                                        <div *ngIf="editIndex == i">
                                            <input type="number" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="school.percentUpto">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="editIndex != i">{{school.status | uppercase}}</div>
                                        <div *ngIf="editIndex == i">
                                            <input type="text" style="text-transform: uppercase;" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="school.status">
                                        </div>
                                    </td>
                                    <td style="width: 12rem;">
                                        <div *ngIf="editIndex != i">
                                          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-success" style="height: 35px; width: 35px;" (click)="editIndex = i"></button>
                                          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-2" style="height: 35px; width: 35px;" (click)="marksGrading.splice(i, 1)"></button>
                                      </div>
                                      <div *ngIf="editIndex == i">
                                          <button pButton pRipple type="button" icon="pi pi-file" class="p-button-rounded btn-success" style="height: 35px; width: 35px;" (click)="marksGrading[i] = school;editIndex = -1"></button>
                                          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded btn-danger ml-2" style="height: 35px; width: 35px;" (click)="marksGrading.splice(i, 1)"></button>
                                      </div>
                                    </td>
                                </tr>
                              </tbody>
                        </table>
                        <button class="btn btn-primary float-right text-center mt-3"  *ngIf="editIndex == -1" (click)="updateGrades()">
                            Update
                          </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
