<div class="debit-card">
  <div class="card height-equal">
    <div class="card-header">
      <h5>{{ dialogdata.title }}</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="transactionForm" class="row">
        <div class="form-group col-sm-12 col-md-6 col-md-6">
          <div *ngIf="!dialogdata.disableSource">
            <label for="source_id">Source Account <span class="font-danger">*</span></label>
            <select class="form-control" formControlName="source_id" id="source_id" size="1">
              <option value="">Select A/c Head</option>
              <option *ngFor="let data of sourceList" value="{{ data.account_id }}">{{ data.account_name }}</option>
            </select>
            <div *ngIf="transactionForm.controls.source_id.touched && transactionForm.controls.source_id.errors?.required" class="text text-danger">Source Account is required.</div>
            <div *ngIf="transactionForm.controls.destination_id.touched && transactionForm.controls.destination_id.value == transactionForm.controls.source_id.value && transactionForm.controls.source_id.value.toString().length > 0" class="text text-danger">
              Destination Account should be different from Source.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="account_id">Destination Account <span class="font-danger">*</span></label>
          <select class="form-control" formControlName="destination_id" id="account_id" size="1">
            <option value="">Select A/c Head</option>
            <option *ngFor="let data of destinationList" value="{{ data.account_id }}">{{ data.account_name }}</option>
          </select>
          <div *ngIf="transactionForm.controls.destination_id.touched && transactionForm.controls.destination_id.errors?.required" class="text text-danger">Destination Account is required.</div>
          <div *ngIf="transactionForm.controls.destination_id.touched && transactionForm.controls.destination_id.value == transactionForm.controls.source_id.value && transactionForm.controls.source_id.value.toString().length > 0" class="text text-danger">
            Destination Account should be different from Source.
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="transaction_amount">Amount <span class="font-danger">*</span></label>
          <input type="text" class="form-control" mask="separator.2" thousandSeparator="," formControlName="transaction_amount" id="transaction_amount" placeholder="1,000" />
          <div *ngIf="transactionForm.controls.transaction_amount.touched && transactionForm.controls.transaction_amount.errors?.required" class="text text-danger">Amount is required.</div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="txn_date">Transaction Date <span class="font-danger">*</span></label>
          <input type="date" class="form-control" id="txn_date" placeholder="txn_date" formControlName="txn_date" />
          <div *ngIf="transactionForm.controls.txn_date.touched && transactionForm.controls.txn_date.errors?.required" class="text text-danger">Transaction Date is required.</div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="payment_mode">Transaction Mode <span class="font-danger">*</span></label>
          <input type="text" class="form-control" formControlName="payment_mode" id="payment_mode" placeholder="PhonePe" />
          <div *ngIf="transactionForm.controls.payment_mode.touched && transactionForm.controls.payment_mode.errors?.required" class="text text-danger">Transaction Mode is required.</div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="payment_ref">Transaction Ref No <span class="font-danger">*</span></label>
          <input type="text" class="form-control" formControlName="payment_ref" id="payment_ref" placeholder="UTR132156" />
          <div *ngIf="transactionForm.controls.payment_ref.touched && transactionForm.controls.payment_ref.errors?.required" class="text text-danger">Transaction Ref is required.</div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="paid_by">Paid By <span class="font-danger">*</span></label>
          <input type="text" class="form-control" formControlName="paid_by" id="paid_by" placeholder="User" />
          <div *ngIf="transactionForm.controls.paid_by.touched && transactionForm.controls.paid_by.errors?.required" class="text text-danger">Paid By is required.</div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="paid_to">Paid To <span class="font-danger">*</span></label>
          <input type="text" class="form-control" formControlName="paid_to" id="paid_to" placeholder="User" />
          <div *ngIf="transactionForm.controls.paid_to.touched && transactionForm.controls.paid_to.errors?.required" class="text text-danger">Paid To is required.</div>
        </div>
        <div class="form-group col-12 p-r-0">
          <label for="user_comments">Transaction Description <span class="font-danger">*</span></label>
          <textarea class="form-control" id="user_comments" [formControl]="transactionForm.controls['user_comments']" rows="2" cols="5" class="form-control" placeholder="Description..."></textarea>
          <div *ngIf="transactionForm.controls.user_comments.touched && transactionForm.controls.user_comments.errors?.required" class="text text-danger">Comments required.</div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary-gradien btn-block" [disabled]="clicked" type="button" (click)="OnSubmit()">{{ clicked ? "" : "Submit" }} <i class="fa fa-circle-o-notch fa-spin" *ngIf="clicked"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
