<div class="loader-box center" *ngIf="dataFetch">
  <span class="rotate dashed"></span>
</div>
<div class="card" *ngIf="!dataFetch">
    <div class="card-body">
      <div class="table-responsive">
        
        <table class="table">
          <thead>
            <tr>
              <th>SlNo</th>
              <th>Fee Component</th>
              <th>Discount</th>
              <th>Applicable Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of feeComponentList; let i = index">
              <td>
                {{ i + 1 }}
              </td>
              <td>{{ data.fee_component_name }} ({{ data.actual_fee | currency: "INR" }})</td>
              <td><input class="form-control" style="max-width: 60%" (keyup)="updateFees(data)" type="number" [(ngModel)]="data.discount" /></td>
              <td>{{ data.applicable_fees | currency: "INR" }}</td>
            </tr>
          </tbody>
        </table>
        <div class="card-header"><h5>Other Details</h5></div>
                <div class="card-body">
                    <label for="bg_id">Notes <span class="font-danger">*</span></label>
                    <textarea class="form-control" id="permanent_address" [(ngModel)]="this.dialogdata.notes" rows="5" cols="5" class="form-control"
                    placeholder="Fees for A-B standards with discount"></textarea>
                    <div class="form-group">
                        <label for="registered_on">Due On <span class="font-danger">*</span></label>
                        
                        <div class="input-group custom-datepicker job-input-datepicker">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="due_date" [minDate]="due_date" (dateSelect)="dateChange($event,'registered_on')"
                              ngbDatepicker #registered_on="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-primary"  (click)="registered_on.toggle()" type="button"><i
                                class="fa fa-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                </div>
      </div>
      <button class="btn btn-primary text-center float-right" type="button" (click)="updateFee()">
        Update
  </button>
    </div>
  </div>