<div class=" debit-card">
    <div class="card height-equal">
      <div class="card-header">
        <h5>User Detais</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" class="row">
          <div class="form-group col-6 p-r-0">
            <label for="inst_id">Institute Id</label>
            <input readonly class="form-control" formControlName="inst_id" id="inst_id" type="text" placeholder="Full name here">
          </div>
          <div class="form-group col-6">
            <label for="full_name">Full Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="full_name"
              id="full_name"
              placeholder="Full  Name"
            />
          </div>
          <div class="form-group col-6 p-r-0">
            <label for="phone_number">Phone Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone_number"
              id="phone_number"
              placeholder="91XXXXXXXX"
            />
           </div>
          <div class="form-group col-6">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="abc@gmail.com"
            />
          </div>
          <div class="form-group col-6 p-r-0">
            <label for="role_id">Role</label>
            <select class="form-control" formControlName="role_id" id="role_id" size="1">
              <option>Select Month</option>
              <option value="2">ADMISSION_OFFICER</option>
              <option>Fab</option>
              <option>March</option>
              <option>April</option>
            </select>
          </div>
          
          <div class="col-12">
            <button class="btn btn-primary-gradien btn-block" type="button" (click)="OnSubmit()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>