<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h3>Students</h3>
    <div class="btn-group" role="group" aria-label="Basic example">
      <div class="square-product-setting d-inline-block"><a class="icon-grid grid-layout-view" (click)="layout = 'grid'"
        data-original-title="" title="">
        <app-feather-icons  [icon]="'grid'"></app-feather-icons></a></div>
    <div class="square-product-setting d-inline-block"><a class="icon-grid m-0 list-layout-view"
      (click)="layout = 'list'" data-original-title="" title="">
      <app-feather-icons  [icon]="'list'"></app-feather-icons></a></div>
    </div>
  </div>
  <div
    class="default-according style-1 faq-accordion job-accordion"
    id="accordionoc"
  >
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button
                class="btn btn-link pl-0"
                (click)="isFilter = !isFilter"
                [attr.aria-expanded]="!isFilter"
                aria-controls="collapse"
              >
                Filter
              </button>
            </h5>
          </div>
          <div class="collapse show" *ngIf="isFilter">
            <div class="card-body filter-cards-view animate-chk">
              <div class="row">
                <div class=" col-xl-3 col-md-6 col-sm-12">
                  <label for="bg_id"
                    >Academic Year <span class="font-danger">*</span></label
                  >
                  <select
                    class="form-control"
                    id="bg_id"
                    placeholder="2021-2022"
                    (change)="onFilterData('')"
                    [formControl]="filterForm.controls['academicYear']"
                  >
                    <option value="">Select a Academic Year</option>
                    <option
                      *ngFor="let data of academicYearList"
                      value="{{ data.name }}"
                    >
                      {{ data.name }}
                    </option>
                  </select>
                </div>
                <div class=" col-xl-3 col-md-6 col-sm-12">
                  <label for="bg_id"
                    >Department <span class="font-danger">*</span></label
                  >
                  <select
                    class="form-control"
                    id="bg_id"
                    placeholder="Kannada"
                    (change)="onFilterData('')"
                    [formControl]="filterForm.controls['department']"
                  >
                    <option value="">Select a Department</option>
                    <option
                      *ngFor="let data of departmentList"
                      value="{{ data.name }}"
                    >
                      {{ data.name }}
                    </option>
                  </select>
                </div>
                <div class=" col-xl-3 col-md-6 col-sm-12">
                  <label for="bg_id"
                    >Class <span class="font-danger">*</span></label
                  >
                  <select
                    class="form-control"
                    id="bg_id"
                    placeholder="1"
                    (change)="onFilterData('')"
                    [formControl]="filterForm.controls['class']"
                  >
                    <option value="">Select a Class</option>
                    <option
                      *ngFor="let data of classList"
                      value="{{ data.name }}"
                    >
                      {{ data.name }}
                    </option>
                  </select>
                </div>
                <div class=" col-xl-3 col-md-6 col-sm-12 mb-3">
                  <div class="faq-form">
                    <label for="bg_id">Name</label>
                    <input
                      class="form-control"
                      type="text"
                      [formControl]="filterForm.controls['studentName']"
                      (keyup)="onFilterData($event.target.value)"
                      placeholder="Search.."
                    />
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center">
                <div class="col-md-6 col-sm-12">
                  <p>Export :</p>
                  <div class="flex col-2">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportCsv()" class="btn-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 float-right">
                  <button
                    class="btn btn-primary text-center align-self-center"
                    (click)="reset(); onFilterData('')"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="layout == 'grid'">
    <div class="col-12 ">
      <div class="loader-box center" *ngIf="dataFetch">
        <span class="rotate dashed"></span>
      </div>
      <div class="row" *ngIf="!dataFetch">
        <div
          class="col-md-6 col-lg-4 col-xl-3"
          *ngFor="
            let student of StudentList
              | slice: (page - 1) * pageSize:page * pageSize
          "
        >
          <div
            class="card custom-card"
            style="cursor: pointer"
            (click)="studentDetails(student)"
          >
            <div class="card-profile">
              <div class="card-header">
                <img class="img-fluid" src="assets/images/faq/2.jpg" alt="" />
              </div>
              <img
                class="rounded-circle"
                style="margin-top: -4rem"
                src="{{ student.student_photo }}"
                alt=""
              />
            </div>
            <div class="text-center profile-details">
              <h5
                style="
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                "
              >
                {{ student.student_name | uppercase }}
              </h5>
              <h6>
                ID: <b>{{ student.admission_no }}</b>
              </h6>
              <hr style="margin-top: -1rem" />
              <div class="row">
                <div class="col-6">
                  <span>Dep</span><br />
                  <span
                    ><b>{{ student.department | titlecase }}</b></span
                  >
                </div>
                <div class="col-6">
                  <span>Class</span><br />
                  <span
                    style="
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    "
                    ><b>{{ student.class | uppercase }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ngb-pagination
        class="d-flex justify-content-center mb-3"
        #paginator
        [pageSize]="pageSize"
        [rotate]="true"
        [maxSize]="5"
        [boundaryLinks]="true"
        [ellipses]="false"
        [collectionSize]="StudentList.length"
        [(page)]="page"
      ></ngb-pagination>
    </div>
  </div>
  <div class="col" *ngIf="layout == 'list'">
    <div class="col-12 ">
      <div class="card">
        <div class="card-body">
          <div class="custom-datatable">
            <p-table [value]="StudentList" selectionMode="single" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" >
                <tr>
                    <th>SlNo</th>
                    <th pSortableColumn="student_name">Name <p-sortIcon field="student_name"></p-sortIcon></th>
                    <th pSortableColumn="admission_no">Admission No<p-sortIcon field="admission_no"></p-sortIcon></th>
                    <th pSortableColumn="admission_date">Admission Date<p-sortIcon field="admission_date"></p-sortIcon></th>
                    <th pSortableColumn="department">Medium <p-sortIcon field="department"></p-sortIcon></th>
                    <th pSortableColumn="class">Class <p-sortIcon field="class"></p-sortIcon></th>
                    <th pSortableColumn="division">Division <p-sortIcon field="division"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr (click)="studentDetails(product)" style="cursor: pointer;">
                <td>{{rowIndex+1}}</td>
                <td><img class="middle " src="{{product.student_photo}}" height="50px" style="border-radius: 50%;" width="50px" [alt]="product.student_name"> {{product.student_name}}</td>
                <td>{{product.admission_no}}</td>
                <td>{{product.admission_date}}</td>
                <td>{{product.department}}</td>
                <td>{{product.class}}</td>
                <td>{{product.division}}</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
