.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table td {
    vertical-align: baseline;
}


  @media only screen and (max-width:1201) and (max-width:1500) {
    .col-xl-3{
      width: 25%;
    }
    .cardBgImage{
      margin-top: -63%;
    }
  }
  @media only screen and (min-width:1501) {
    .col-xl-3{
      width: 20%;
    }
  }
  @media only screen and (min-width:1200) {
    .studentCard{
      width: 30%;
    }
  }