<!-- <div class="account-pages">

</div> -->
<div class="container pt-4" style="margin-bottom: -2rem">
  <div class="row d-inline-flex justify-content-center">
    <div class="col">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-4">
                <h5 class="text-primary">Lock screen</h5>
                <p>Enter your password to unlock the screen!</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div>
            <a>
              <div class="avatar-md profile-user-wid">
                <span class="avatar-title rounded-circle bg-light">
                  <img
                    src="assets/images/logo.svg"
                    alt=""
                    class="rounded-circle"
                    height="34"
                  />
                </span>
              </div>
            </a>
          </div>
          <div class="p-2" style="margin-top: -35px;">
            <form>
              <div class="user-thumb text-center">
                <img
                  [src]="currentUser.dp_location"
                  class="rounded-circle img-thumbnail avatar-lg "
                  alt="thumbnail"
                />
                <h5 class="font-size-15 mt-3">{{ currentUser.full_name }}</h5>
              </div>
              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <div class="mb-3">
                <label for="userpassword">Password</label>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="password"
                  [ngClass]="{ 'is-invalid': error }" aria-label="Password"
                  [ngModelOptions]="{ standalone: true }"
                  id="userpassword"
                  placeholder="Enter password"
                />
              </div>

              <div class="text-center">
                <button class="btn btn-primary btn-rounded w-md mr-5" type="submit" (click)="unlock()">
                  Unlock <i  *ngIf="loading" class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
                </button>
                <button class="btn btn-primary btn-rounded w-md" (click)="logout()">Logout</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
