<div class="container-fluid credit-card">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header"><h5>User Profile</h5></div>
        <div class="card-body">
          <div class="row">
            <div class="col-3 ml-2">
              <img
                class="img-fluid rounded-circle image-radius"
                style="height: 55px; width: 55px"
                src="assets/images/logo.png"
                alt=""
              />
            </div>
            <div class="col-9" style="margin-top: 6px; margin-left: -20px">
              <h5 class="mt-0 mb-0 f-w-600">
                <span class="counter">Keith Jensen</span>
              </h5>
              <p>Simenson@dashy.com</p>
            </div>
          </div>
          <hr />
          <div class="new-users">
            
            <div
              class="col mt-2 d-flex align-content-center"
              style="justify-content: center;cursor: pointer;" [ngStyle]="{'color':(card == 'Personal Information')?'#4466f2':''}"
              (click)="setCard('Personal Information')">
              <i data-feather="user" style="height: 20px"></i>
              <span class="mr-auto pl-2" style="font-size: 19px">Personal Information</span>
              <i class="icon-angle-right p-2"></i>
            </div>
            <div
              class="col mt-3 d-flex align-content-center"
              style="justify-content: center;cursor: pointer;" [ngStyle]="{'color':(card == 'Account Activity')?'#4466f2':''}"
              (click)="setCard('Account Activity')">
              <i data-feather="sliders" style="height: 20px"></i>
              <span class="mr-auto pl-2" style="font-size: 19px">Account Activity</span>
              <i class="icon-angle-right p-2"></i>
            </div>
            <div
              class="col mt-3 d-flex align-content-center"
              style="justify-content: center;cursor: pointer;" [ngStyle]="{'color':(card == 'Security Settings')?'#4466f2':''}"
              (click)="setCard('Security Settings')">
              <i data-feather="settings" style="height: 20px"></i>
              <span class="mr-auto pl-2" style="font-size: 19px">Security Settings</span>
              <i class="icon-angle-right p-2"></i>
            </div>
            <div
              class="col mt-3 d-flex align-content-center"
              style="justify-content: center;cursor: pointer;"  [ngStyle]="{'color':(card == 'Notifications')?'#4466f2':''}"
              (click)="setCard('Notifications')">
              <i data-feather="bell" style="height: 20px"></i>
              <span class="mr-auto pl-2" style="font-size: 19px">Notifications</span>
              <i class="icon-angle-right p-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card" *ngIf="card == 'Personal Information'">
        <div class="card-header">
          <h5>Personal Information</h5>
          <span class="d-block fonts-dashboard"
            >Basic info, like your name and address, that you use on this
            Platform</span>
        </div>
        <div class="card-body">
            <div class="row">
                
            </div>
        </div>
      </div>
      <div class="card" *ngIf="card == 'Notifications'">
        <div class="card-header">
          <h5>Notifications</h5>
          <span class="d-block fonts-dashboard"
            >You will get only notification what have enabled.</span>
        </div>
      </div>
      <div class="card" *ngIf="card == 'Account Activity'">
        <div class="card-header">
          <h5>Account Activity</h5>
          <span class="d-block fonts-dashboard"
            >Here is your last 20 login activities .</span>
        </div>
        <div class="card-body">
        </div>
      </div>
      <div class="card" *ngIf="card == 'Security Settings'">
        <div class="card-header">
          <h5>Security Settings</h5>
          <span class="d-block fonts-dashboard"
            >These settings are helps you keep your account secure..</span>
        </div>
        <div class="card-body">
            <div class="row col d-flex justify-content-between" style="justify-content: center;">
                <div>
                    <span>Change Password</span><br/>
                </div>
                <div class="row mr-2">
                    <div><p >Last changed on 24/03/2022<br/> 12:15</p></div>
                    <button class="btn btn-primary text-cente ml-3" style="height: 35px;" type="button" (click)="ChangePassword()">Change Password</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
