<div class="container-fluid">
  <div class="loader-box center" *ngIf="dataFetch">
    <span class="rotate dashed"></span>
  </div>
  <div class="" *ngIf="!dataFetch">
    <iframe *ngIf="src" style="padding: 10px;"
  [src]="src"  width="100%" height="600"></iframe>
  </div>
  </div>