
      <div class=" row">
        <div class="col-md-3 mb-3">
          <label for="gender_id">Document <span class="font-danger">*</span></label>
          <div class="row">
            <select class="form-control col-9" id="doc_id" placeholder="Document" [formControl]="fileGroup.controls['doc_id']" (change)="docTypeChange()">
              <option value="">Select a Document</option>
              <option *ngFor="let data of DocumentList" value="{{data.id}}">{{data.name}}</option>
          </select>
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded btn-primary ml-1" style="height: 30px; width: 30px;" (click)="addDocumentType()"></button>
          </div>
          <div *ngIf="fileGroup.controls.doc_id.touched && fileGroup.controls.doc_id.errors?.required"
              class="text text-danger">
              Document is required.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="doc_no">Document No  <span class="font-danger">*</span></label>
          <input type="text" class="form-control" id="doc_no" placeholder="doc_no"
              [formControl]="fileGroup.controls['doc_no']" >
        </div>
        <div class="col-md-3 mb-3">
          <label for="issue_date">Issue Date</label>
          <input type="date" class="form-control" id="issue_date" placeholder="issue_date"
              [formControl]="fileGroup.controls['issue_date']" >
        </div>
        <div class="col-md-3 mb-3">
          <label for="expiry_date">Expiy Date</label>
          <input type="date" class="form-control" id="expiry_date" placeholder="expiry_date"
              [formControl]="fileGroup.controls['expiry_date']" >
        </div>

      </div>
      <div class="row mt-3 d-flex justify-content-around">
            <div class="col-md-5 col-sm-8 mb-3">
              <input type="file" class="form-control" style="padding-bottom: 35px;" id="doc" placeholder="doc" #file (change)="readUrl($event)" [formControl]="fileGroup.controls['doc']" >
            </div>
            <div class="col-md-2" *ngIf="update && fileGroup.get('doc_url').value">
                <button pButton pRipple type="button" icon="pi pi-trash" ngbTooltip="Delete Document" class="p-button-rounded btn-danger mb-3 ml-1" style="height: 35px; width: 35px;" (click)="deleteDocument()" ></button>
            </div>
            <div class="col-md-2 col-sm-12" *ngIf="!update">
              <button class="btn btn-primary float-right text-center mb-3" (click)=" uploadFile()" [disabled]="!fileGroup.valid || loader" type="submit">
                Add&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"></i>
              </button>
            </div>
            <div class="col-md-2 col-sm-12" *ngIf="update">
              <button class="btn btn-success float-right text-center mb-3" (click)=" uploadFile()" [disabled]="!fileGroup.valid || loader" type="submit">
                Update&nbsp;<i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"></i>
              </button>
            </div>
            <div class="col-md-2 col-sm-12">
                
              <button class="btn btn-warning float-right text-center mb-3" (click)=" resetFileGroup()"  type="submit">
                Cancel
              </button>
            </div>
      </div>

        <div class="table-responsive mt-3 mb-3">
          <div class="loader-box center" *ngIf="!dataFetch"><span class="rotate dashed"></span></div>
          <table class="table" *ngIf="dataFetch">
              <thead>
                  <tr>
                    <th>SlNo</th>
                    <th>Document Type</th>
                    <th>Document No/Name</th>
                    <th>Issue Date</th>
                    <th>Expiry Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let data of employee_documents; let i = index" >
                      <td>
                          {{ i+1}}
                      </td>
                      <td>
                          <span>{{data.doc_name}}</span>
                      </td>
                      <td>
                          <span>{{data.document_no}}</span>
                      </td>
                      <td>
                          <span>{{data.issued_date??'--'}}</span>
                      </td>
                      <td>
                          <span>{{data.expiry_date??'--'}}</span>
                      </td>
                      <td>
                        <button pButton pRipple type="button" icon="pi pi-download" *ngIf="data.doc_url" ngbTooltip="Download Document"  class="p-button-rounded btn-primary mb-3" style="height: 35px; width: 35px;" (click)="downloadDocument(data)"></button>
                        <button pButton pRipple type="button" icon="pi pi-pencil" ngbTooltip="Update Record" class="p-button-rounded btn-success mb-3 ml-1" style="height: 35px; width: 35px;" (click)="update = true; updateDocument(data)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" ngbTooltip="Delete Record" class="p-button-rounded btn-danger mb-3 ml-1" style="height: 35px; width: 35px;" (click)="deleteRecord(data)"></button>
                      </td>
                  </tr>
                </tbody>
          </table>
      </div>

