<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 xl-40">
            <div class="card">
              <div class="card-header"><h5>New Page</h5></div>
              <div class="card-body row">
                <div class="col-12" >
                    <form [formGroup]="ComponentForm">
                  <div class="job-filter">
                    <div class="faq-form">
                      <label for="title">Title <span class="font-danger">*</span></label>
                      <input id="title" class="form-control" type="text" formControlName="title" placeholder="Dashboard.."/>
                      <div *ngIf="ComponentForm.controls.title.touched && ComponentForm.controls.title.errors?.required"
                            class="text text-danger">
                            Title is required.
                        </div>
                    </div>
                  </div>
                  <div class="job-filter mt-2">
                    <div class="faq-form">
                        <label for="module_id">Module <span class="font-danger">*</span></label>
                        <select class="form-control" id="module_id" formControlName="module_id" >
                        <option value="">Select a Module</option>
                        <option *ngFor="let data of moduleList" value="{{data.id}}">{{data.name}}</option>
                        </select>
                        <div *ngIf="ComponentForm.controls.module_id.touched && ComponentForm.controls.module_id.errors?.required" class="text text-danger">
                            Module is required.
                        </div>
                    </div>
                  </div>
                  <div class="job-filter mt-2">
                    <div class="faq-form">
                        <label for="title">Type <span class="font-danger">*</span></label>
                        <select class="form-control" id="bg_id" formControlName="type" >
                        <option value="">Select a Type</option>
                        <option value="sub">Sub</option>
                        <option value="link">Link</option>
                        </select>
                        <div *ngIf="ComponentForm.controls.type.touched && ComponentForm.controls.type.errors?.required" class="text text-danger">
                            Type is required.
                        </div>
                    </div>
                  </div>
                  <div class="job-filter mt-2">
                    <div class="faq-form">
                        <label for="icon">Icon</label>
                        <select class="form-control" id="icon" formControlName="icon" >
                        <option value="">Select a Icon</option>
                        <option *ngFor="let data of feather_icons" value="{{data}}">{{data}}</option>
                        </select>
                        <div *ngIf="ComponentForm.controls.icon.touched && ComponentForm.controls.icon.errors?.required" class="text text-danger">
                            Icon is required.
                        </div>
                    </div>
                  </div>
                  <div class="job-filter mt-2">
                    <div class="faq-form">
                        <label for="path">Path </label>
                        <input id="title" class="form-control" type="text" formControlName="path" placeholder="/dashboard"/>
                    </div>
                  </div>
                  <div class="job-filter mt-2">
                    <div class="faq-form">
                        <label for="display_order">Display Order </label>
                        <input id="display_order" class="form-control" type="number" formControlName="display_order" placeholder="1"/>
                    </div>
                  </div>
                  <div class="row" style="gap: 20px;justify-content: center;">
                      <button
                        class="btn btn-primary text-center mt-4"
                        type="button"
                        (click)="onAddNew()"
                      >
                        Add
                      </button>
                      <button
                        class="btn btn-warning text-center mt-4"
                        type="button"
                        (click)="onClearForm()"
                      >
                        Clear
                      </button>
                  </div>
                </form>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xl-9 xl-60">
            <div class="card">
                <div class="card-header"><h5>Page List</h5></div>
                <div class="collapse show">
                    <div class="card-body">
                        <div class="row pl-3 pr-3" style="gap: 20px;">
                            <div class="col-md-8 col-sm-12">
                                <div class="faq-form">
                                    <input
                                      class="form-control"
                                      [(ngModel)]="filterValue"
                                      type="text"
                                      (keyup)="onFilter($event.target.value)"
                                      placeholder="Search.."
                                    />
                                    <app-feather-icons
                                      class="search-icon"
                                      [icon]="'search'"
                                    ></app-feather-icons>
                                  </div>
                            </div>
                            <div class="col-md-3 col-sm-12 d-flex justify-content-around">
                                <button
                                  class="btn btn-warning text-center"
                                  type="button"
                                  (click)="filterValue = ''; onClear()"
                                >
                                  Clear
                                </button>
                              </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="loader-box center" *ngIf="dataFetch">
                                <span class="rotate dashed"></span>
                            </div>
                            <div class="card-body">
                                <div class="custom-datatable">
                                <p-table [value]="List" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                    <ng-template pTemplate="header" >
                                        <tr>
                                            <th pSortableColumn="SlNo">SlNo</th>
                                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                                            <th pSortableColumn="module">Module <p-sortIcon field="module"></p-sortIcon></th>
                                            <th pSortableColumn="Path">Path <p-sortIcon field="Path"></p-sortIcon></th>
                                            <th>Icon</th>
                                            <th pSortableColumn="Order">Order <p-sortIcon field="Order"></p-sortIcon></th>
                                            <th>Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-product>
                                        <tr>
                                            <td>{{rowIndex +1}}</td>
                                            <td>{{product.component_name}}</td>
                                            <td>{{product.mdule_name}}</td>
                                            <td>{{product.route}}</td>
                                            <td><app-feather-icons [icon]="product.icon"></app-feather-icons></td>
                                            <td>{{product.display_order}}</td>
                                            <td> 
                                              <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-success" style="height: 35px; width: 35px;" (click)="updateData(product)"></button>
                                              <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-2" style="height: 35px; width: 35px;" (click)="onDelete(product.id)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>