<div class="container-fluid">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="loader-box center" *ngIf="dataFetch">
                <span class="rotate dashed"></span>
              </div>
              <p-table #dt [value]="reportList" *ngIf="!dataFetch" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]" rowGroupMode="subheader" groupRowsBy="result_report_group_id">
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-between">
                    List of Result Reports
    <button
                    class="btn btn-primary"
                    style="max-height: 36px;"
                    type="button"
                    (click)="addReport()"
                  >
                    +&nbsp;Add
                  </button>
                </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Slno</th>
                    <th>Academic Year</th>
                    <th>Department</th>
                    <th>class</th>
                    <th>Division</th>
                    <th>Result Date</th>
                    <th>View</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-product>
                  <tr pRowGroupHeader>
                      <td colspan="7">
                          <span class="p-text-bold font-bold p-ml-2">{{product.report_result_group_name}}</span>
                      </td>
                  </tr>
              </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ product.academic_name }}</td>
                    <td>{{ product.department_name }}</td>
                    <td>{{ product.class_name }}</td>
                    <td>{{ product.division_name}}</td>
                    <td>{{ product.result_date }}</td>
                    <td>
                      <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Configure Report" (click)="configReport(product)"></button>
                      <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded btn-primary ml-1" style="height: 35px; width: 35px" ngbTooltip="Update Report" (click)="updateReport(product)"></button>
                      <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded btn-danger ml-1" style="height: 35px; width: 35px" ngbTooltip="Delete Report" (click)="deleteReport(product)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
</div>