/* You can add global styles to this file, and also import other style files */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.blurred {
  background-color: #424040f2;
  //backdrop-filter: blur(4px);
}
