.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 50%;
  // /text-align: center;
  font-size: 12px;
  //line-height: 1.42857;
}

.btn-circle1 {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 50%;
  // /text-align: center;
  font-size: 12px;
  //line-height: 1.42857;
}

.icofont {
  line-height: normal;
}
