.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.button-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
